.boxesList {
  $root: &;

  margin: -18px;
  overflow: hidden;

  &__item {
    float: left;
    width: 50%;
    padding: 18px;
    transition: opacity $tr;

    @include rwd('large-phone') {
      width: 100%;
    }

    &:nth-child(2) {
      margin-top: 50px;

      @include rwd('large-phone') {
        margin-top: 0;
      }
    }

    &:nth-child(2n+3) {
      margin-top: -50px;

      @include rwd('large-phone') {
        margin-top: 0;
      }
    }

    &--disabled {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &__itemLink {
    position: relative;
    display: block;
    background-color: rgba($c-gray-10, .5);
  }

  &__itemIcon {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 10;

    @include rtl {
      right: auto;
      left: -15px;
    }
    
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      line-height: 1;
      color: $c-white;

      #{$root}__itemLink--yellow & {
        color: $c-violet-01;
      }
    }
    
    &:after {
      display: block;
      @include icomoon('hexagon');
      font-size: 78px;
      line-height: 1;
      transition: transform $tr;

      #{$root}__itemLink--violet & {
        color: $c-violet-06;
      }

      #{$root}__itemLink--orange & {
        color: $c-orange-03;
      }

      #{$root}__itemLink--yellow & {
        color: $c-yellow-02;
      }

      #{$root}__itemLink--blue & {
        color: $c-blue-04;
      }

      #{$root}__itemLink--green & {
        color: $c-green-04;
      }

      #{$root}__itemLink--gray & {
        color: $c-gray-11;
      }
    }
  }

  &__itemInner {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 135px;
    padding: 25px 20px;
    background-color: rgba($c-gray-10, .5);
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    z-index: 1;

    @include rtl {
      border-radius: 0 10px 0 10px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      transition: width $tr;

      @include rtl {
        left: auto;
        right: 0;
      }
    
      #{$root}__itemLink--violet & {
        background-color: $c-violet-02;
      }

      #{$root}__itemLink--orange & {
        background-color: $c-orange-01;
      }

      #{$root}__itemLink--yellow & {
        background-color: $c-yellow-01;
      }

      #{$root}__itemLink--blue & {
        background-color: $c-blue-02;
      }

      #{$root}__itemLink--green & {
        background-color: $c-green-02;
      }

      #{$root}__itemLink--gray & {
        background-color: $c-gray-01;
      }
    }

    #{$root}__itemLink--active & {

      &:before {
        width: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba($c-gray-10, .5);
      border-radius: 10px 0 10px 0;
      transition: border-color $tr;

      @include rtl {
        border-radius: 0 10px 0 10px;
      }
    
      #{$root}__itemLink--violet:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-violet-02;
      }

      #{$root}__itemLink--orange:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-orange-01;
      }

      #{$root}__itemLink--yellow:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-yellow-01;
      }

      #{$root}__itemLink--blue:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-blue-02;
      }

      #{$root}__itemLink--green:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-green-02;
      }

      #{$root}__itemLink--gray:hover &,
      #{$root}__itemLink--violet#{$root}__itemLink--active & {
        border-color: $c-gray-01;
      }
    }
  }

  &__itemTitle {
    max-width: 90px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: (24 / 18);
    transition: color $tr;

    #{$root}__itemLink--violet & {
      color: $c-violet-02;
    }

    #{$root}__itemLink--orange & {
      color: $c-orange-01;
    }

    #{$root}__itemLink--yellow & {
      color: $c-yellow-01;
    }

    #{$root}__itemLink--blue & {
      color: $c-blue-02;
    }

    #{$root}__itemLink--green & {
      color: $c-green-02;
    }

    #{$root}__itemLink--gray & {
      color: $c-gray-01;
    }

    #{$root}__itemLink--active & {
      color: $c-white;
    }

    #{$root}__itemLink--yellow#{$root}__itemLink--active & {
      color: $c-violet-01;
    }
  }
}