.contactForm {
  padding: 10px 0;

  /* ---
    Grid
  --- */

  &__rows {
    margin-top: -25px;

    @include rwd('small-tablet') {
      margin-top: -10px;
    }
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gridGutter / 2);

    @include rwd('small-tablet') {
      display: block;
    }
  }

  &__col {
    flex: 1;
    margin-top: 25px;
    padding: 0 ($gridGutter / 2);
    font-size: 0;

    @include rwd('small-tablet') {
      margin-top: 10px;
    }
  }

  &__label {
    position: relative;
    display: block;
    padding-bottom: 10px;
  }

  /* ---
    Field wrapper
  --- */

  &__labelText {
    padding: 2px 0 12px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (28 / 14);
  }

  &__labelInput {
    position: relative;
  }

  /* ---
    Field icon
  --- */

  &__labelInputIcon {

    &:before {
      position: absolute;
      top: 0;
      right: 20px;
      line-height: 50px;

      @include rtl {
        right: auto;
        left: 20px;
      }
    }
  }

  [aria-invalid="true"] ~ &__labelInputIcon {

    &:before {
      padding: 0 1px;
      @include icomoon('close');
      font-size: 10px;
      color: $c-red-02;
    }
  }

  [aria-invalid="false"] ~ &__labelInputIcon {

    &:before {
      @include icomoon('checked-circle');
      font-size: 12px;
      color: $c-green-05;
    }
  }

  [aria-invalid="false"][aria-valuenow=""] ~ &__labelInputIcon {

    &:before {
      display: none;
    }
  }

  /* ---
    Inputs
  --- */

  &__fieldInput,
  &__fieldTextarea {
    width: 100%;
    height: 50px;
    padding: 9px 40px 9px 15px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (28 / 14);
    color: $c-gray-04;
    border: 2px solid $c-gray-01;

    @include rtl {
      padding-right: 15px;
      padding-left: 40px;
    }

    @include placeholder {
      color: $c-gray-01;
      opacity: 1;
    }
  }

  &__fieldInput {
    transition: 9999s;
  }

  &__fieldTextarea {
    height: 202px;
    resize: vertical;
  }

  /* ---
    File
  --- */

  &__file {
  }

  &__fileInner {
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__fileLabel {
    display: block;
    width: calc(50% - 16px);
    height: 50px;
    font-size: 1.4rem;
    line-height: 50px;
    cursor: pointer;

    @include rwd('large-tablet') {
      height: 50px;
      font-size: 1.4rem;
      line-height: 50px;
    }

    @include rwd('small-tablet') {
      width: 100%;
    }
  }

  &__fileItem {
    position: relative;
    z-index: 10;

    &:nth-child(n+2) {
      margin-top: 2px;
    }
  }

  &__fileItemName {
    width: 100%;
    height: 50px;
    padding: 0 40px 0 15px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 50px;
    color: $c-gray-04;
    text-align: left;
    border: 2px solid $c-gray-05;
    background-color: $c-gray-05;
    overflow: hidden;

    @include rtl {
      padding-right: 15px;
      padding-left: 40px;
      text-align: right;
    }
  }

  &__fileItemClose {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;

    &:before {
      @include icomoon('close');
      font-size: 20px;
      line-height: 30px;
      color: $c-red-02;
      transition: opacity $tr;

      @include rtl {
        right: auto;
        left: 10px;
      }
    }

    &:hover {

      &:before {
        opacity: .5;
      }
    }
  }

  /* ---
    Submit
  --- */

  &__submit {
    padding: 10px 0;
    text-align: right;
  }

  &__submitInner {
    position: relative;
    display: inline-block;
  }

  &__submitLoader {
    display: none;
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
    transform: translateY(-50%);
    
    &--active {
      display: block;
    }
  }

  /* ---
    Error & message
  --- */

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2px 15px;
    font-weight: 500;
    font-size: 1rem;
    line-height: (18 / 10);
    color: $c-red-02;
    letter-spacing: .2px;
    text-transform: uppercase;
  }

  &__message {
    padding: 5px 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: (18 / 10);
    text-align: right;
    letter-spacing: .2px;
    text-transform: uppercase;
    
    &--success {
      color: $c-green-01;
    }

    &--error {
      color: $c-red-02;
    }
  }
}