.contentPopup {
  $root: &;

  &__outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    visibility: hidden;
    transition: visibility $tr;

    #{$root}--active & {
      visibility: visible;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity $tr;

    #{$root}--active & {
      opacity: 1;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .95;
    }
    
    &--violet {
    
      &:before {
        background-color: $c-violet-02;
      }
    }

    &--orange {
    
      &:before {
        background-color: $c-orange-01;
      }
    }

    &--yellow {
    
      &:before {
        background-color: $c-yellow-01;
      }
    }

    &--blue {
    
      &:before {
        background-color: $c-blue-02;
      }
    }

    &--green {
    
      &:before {
        background-color: $c-green-02;
      }
    }

    &--gray {
    
      &:before {
        background-color: $c-gray-01;
      }
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity $tr, transform $tr;

    #{$root}--active & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: $tr;
    }
  }

  &__innerInner {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__wrapper {
    position: relative;
    margin: 86px 0;
    padding: 48px 0;

    @include rwd('large-tablet') {
      margin: 0;
      padding: 18px 0;
    }
  }

  &__close {
    position: absolute;
    bottom: 100%;
    left: 100%;

    @include rwd('large-laptop') {
      left: auto;
      right: 0;
    }

    @include rwd('large-tablet') {
      bottom: auto;
      top: 30px;
    }

    @include rtl {
      left: auto;
      right: 100%;

      @include rwd('large-laptop') {
        right: auto;
        left: 0;
      }
    }
    
    &:before {
      display: block;
      @include icomoon('close-hexagon');
      font-size: 66px;
      line-height: 1;
      color: $c-white;
      transition: transform $tr;
    }

    &:hover {

      &:before {
        transform: rotate(90deg);

        @include rtl {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__textInner {
    max-width: 250px;

    @include rwd('large-tablet') {
      max-width: calc(100% - 90px);
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      font-size: 4.8rem;
      line-height: (60 / 48);
      color: $c-white;

      @include rwd('tablet') {
        padding: 4px 0;
        font-size: 3rem;
        line-height: (38 / 30);
      }
    }
    
    p {
      margin-top: 36px;
      padding: 4px 0;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-gray-04;

      @include rwd('large-tablet') {
        margin-top: 16px;
      }

      &:first-child {
        margin-top: 0;

        @include rwd('large-tablet') {
          margin-top: 0;
        }
      }
    }
  }

  &__textButton {
    margin-top: 36px;
    padding: 12px 0;

    @include rwd('large-tablet') {
      margin-top: 16px;
    }
  }

  &__stats {
    margin-top: -70px;

    @include rwd('large-tablet') {
      margin-top: 0;
    }
  }

  &__stat {
    margin-top: 70px;
    padding: 4px 0;

    @include rwd('large-tablet') {
      margin-top: 30px;
    }
  }

  &__statValue {
    font-weight: 700;
    font-size: 4rem;
    line-height: (47 / 40);
    color: $c-white;

    @include rwd('tablet') {
      font-size: 1.8rem;
      line-height: (30 / 18);
    }
    
    strong {
      font-size: 10rem;
      line-height: (94 / 100);

      @include rwd('large-laptop') {
        font-size: 7rem;
        line-height: (72 / 70);
      }

      @include rwd('tablet') {
        font-size: 4rem;
        line-height: (47 / 40);
      }
    }
  }

  &__statText {
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-gray-04;

    @include rwd('tablet') {
      margin-top: 8px;
    }
  }
}