.dataLoader {
  $root: &;

  /* ---
    Filters
  --- */

  &__filters {
    margin-top: -20px;
  }

  &__filter {
    margin-top: 20px;
  }

  &__filterTitle {
    padding: 2px 15px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (27 / 14);
    color: $c-gray-04;
  }

  &__filterInput {
    margin-top: 10px;
  }

  /* ---
    Pagination
  --- */

  &__pagination {
    padding: 20px 0;
    text-align: center;
  }

  /* ---
    Wrapper
  --- */

  &__wrapper {
    position: relative;
  }

  &__wrapperMessage {
    padding: 10px 0;
  }

  &__wrapperMessageInner {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  &__wrapperMessageText {
    padding: 2px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-gray-04;

    @include rwd('large-tablet') {
      font-size: 1.6rem;
      line-height: (28 / 16);
    }
  }

  &__wrapperMessageButton {
    margin-top: 10px;
    padding: 10px 0;
  }

  &__wrapperOutput {
    position: relative;
    min-height: 140px;
    overflow: hidden;
  }

  &__wrapperItems {
    transition: opacity $tr;

    #{$root}__wrapper--loading & {
      opacity: .1;
    }
  }

  &__wrapperLoader {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    #{$root}__wrapper--loading & {
      display: block;
    }
  }
}