.fileItem {
  $root: &;

  &__inner {
    position: relative;
    display: block;
    min-height: 146px;
    margin-right: 20px;
    background-color: $c-gray-05;

    @include rtl {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__content {
    padding: 22px 30px;
  }

  &__title {
    padding: 4px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (20 / 14);
    color: $c-gray-04;
  }

  &__desc {
    padding: 4px 0;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (20 / 14);
    color: $c-gray-01;
  }

  &__button {
    position: absolute;
    bottom: 10px;
    right: -20px;

    @include rtl {
      right: auto;
      left: -20px;
    }

    &:before {
      display: block;
      @include icomoon('hexagon');
      font-size: 54px;
      line-height: 1;
      color: $c-violet-01;
      transition: transform $tr;

      #{$root}__inner:hover & {
        transform: rotate(60deg);

        @include rtl {
          transform: rotate(-60deg);
        }
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include icomoon('download');
      font-size: 24px;
      line-height: 1;
      color: $c-white;
    }
  }
}