.newsItem {
  $root: &;

  display: inline-block;

  &__inner {
    display: block;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 76.53%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($c-white, .1);
      opacity: 0;
      transition: opacity $tr;

      #{$root}:hover & {
        opacity: 1;
      }
    }
  }

  &__imageInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform $tr-l;

    #{$root}:hover & {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-top: 45px;

    @include rtl {
      text-align: right;
    }

    @include rwd('large-tablet') {
      margin-top: 20px;
    }

    &:before,
    &:after {
      padding: 2px 0;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-gray-04;

      @include rwd('tablet') {
        font-size: 1.4rem;
        line-height: (27 / 14);
      }
    }

    &:after {
      color: $c-violet-01;
    }

    &--small {
      margin-top: 20px;

      &:before,
      &:after {
        font-size: 1.4rem;
        line-height: (27 / 14);
      }
    }
  }
}