.personBox {
  $root: &;

  position: relative;

  &--large {
    display: flex;
    align-items: flex-end;

    @include rwd('large-phone') {
      display: block;
    }
  }

  &__image {
    width: 224px;
    max-width: 100%;
    box-shadow: 21px 31px 70px rgba($c-black, .1);

    #{$root}--large & {
      width: 286px;
    }
  }

  &__imageOuter {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 140.2097%;
    background-color: $c-white;

    &:before {
      @include icomoon('person-border');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 128px;
      line-height: 1;
      color: $c-gray-05;
    }
  }

  &__imageInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    margin-top: 30px;

    @include rwd('large-phone') {
      margin-top: 20px;
      padding-left: 20px;

      @include rtl {
        padding-left: 0;
        padding-right: 20px;
      }
    }

    #{$root}--large & {
      margin-top: 0;
      margin-bottom: 90px;
      padding-left: 32px;

      @include rwd('large-phone') {
        margin-top: 20px;
        margin-bottom: 0;
        padding-left: 20px;
      }

      @include rtl {
        padding-left: 0;
        padding-right: 32px;

        @include rwd('large-phone') {
          padding-right: 20px;
        }
      }
    }
  }

  &__contentInner {
    padding: 4px 0;
  }

  &__contentTitle {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: (30 / 22);
    color: $c-gray-04;
  }

  &__contentDesc {
    margin-top: 4px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: (26 / 18);
    color: $c-violet-01;

    #{$root}--large & {
      color: $c-red-01;
    }
  }

  &__contentButton {
    margin-top: 30px;
    padding: 10px 0;
  }
}