.sliderArrows {
  $root: &;

  position: relative;
  padding: 0 36px;

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity $tr;
    z-index: 100;

    &:hover {
      opacity: .5;
    }

    &:before {
      display: block;
      padding: 10px;
      font-size: 16px;
      line-height: 1;
      color: $c-gray-02;

      #{$root}--white & {
        color: $c-white;
      }
    }

    &--prev {
      left: -10px;

      @include rtl {
        left: auto;
        right: -10px;
      }

      &:before {
        @include icomoon('arrow-long-left');

        @include rtl {
          @include icomoon('arrow-long-right');
        }
      }
    }

    &--next {
      right: -10px;

      @include rtl {
        right: auto;
        left: -10px;
      }

      &:before {
        @include icomoon('arrow-long-right');

        @include rtl {
          @include icomoon('arrow-long-left');
        }
      }
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width $tr;
  }
}