.tabsLine {
  $root: &;

  &__items {
    border-bottom: 1px solid $c-gray-03;
    @include clear;

    &--desktop {

      @include rwd('tablet') {
        display: none;
      }
    }
  }

  &__item {
    float: left;
    margin-bottom: -1px;
    font-size: 0;
    border-bottom: 1px solid $c-gray-03;

    @include rwd('small-tablet') {
      display: block;
      width: 100%;
    }

    @include rtl {
      float: right;
    }
  }

  &__itemLink {
    position: relative;
    display: block;
    padding-bottom: 10px;

    @include rwd('tablet') {
      padding: 10px 0;
      text-align: center;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: $c-violet-01;
      transform: translateX(-50%);
      transition: width $tr;

      @include rwd('tablet') {
        display: none;
      }
    }

    &--active {

      &:after {
        width: calc(100% - (2 * #{$gridGutter}) + 6px);
      }
    }
  }

  &__itemText {

    &:before,
    &:after {
      padding: 0 $gridGutter;
      font-size: 1.6rem;
      line-height: (32 / 14);
      color: $c-gray-01;
      letter-spacing: .5px;
    }

    &:after {
      color: $c-violet-01;
    }

    #{$root}__itemLink--active & {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }

  &__slider {
    display: none;
    border-bottom: 1px solid $c-gray-03;

    @include rwd('tablet') {
      display: block;
    }
  }
}