.videoPlayer {
  $root: &;

  position: relative;

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity $tr, visibility $tr;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($c-gray-04, .3);
    }
    
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    #{$root}__play--loading & {
      display: none;
    }
  }

  &__playButton {
    position: relative;
    width: 106px;
    height: 106px;
    background-color: $c-violet-01;
    box-shadow: 21px 31px 99px rgba($c-black, .54);
    border-radius: 50%;

    @include rwd('tablet') {
      width: 60px;
      height: 60px;
    }

    #{$root}__play--loading & {
      display: none;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include icomoon('play');
      font-size: 40px;
      line-height: 1;
      color: $c-white;

      @include rwd('tablet') {
        font-size: 22px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: -7px;
      left: -7px;
      width: calc(100% + 14px);
      height: calc(100% + 14px);
      border: 2px solid $c-violet-01;
      border-radius: 50%;
      transform: scale(.75);
      z-index: -1;
      transition: transform $tr;
    }

    &:hover {

      &:after {
        transform: scale(1);
      }
    }
  }

  &__playLoading {
    display: none;

    #{$root}__play--loading & {
      display: block;
    }
  }

  &__output {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__outputInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}