.wysiwyg {
  padding: 2px 0;

  h1, h2, h3, h4, h5, h6,
  p,
  ul, ol {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  h1, h2, h3 {
    padding-bottom: 14px;

    @include rwd('large-tablet') {
      padding-bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  h1 {
    margin: -4px 0;
    font-weight: 400;
    font-size: 8rem;
    line-height: (86 / 80);
    color: $c-violet-01;

    @include rwd('large-tablet') {
      font-size: 3rem;
      line-height: (39 / 30);
    }
  }

  h2, h3 {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: (52 / 48);
    color: $c-gray-02;

    @include rwd('large-tablet') {
      font-size: 3rem;
      line-height: (39 / 30);
    }
  }

  h4, h5, h6 {
    font-weight: 500;
    font-size: 3rem;
    line-height: (39 / 30);
    color: $c-gray-02;
  }

  p,
  ul li,
  ol li {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-gray-04;

    @include rwd('large-tablet') {
      font-size: 1.6rem;
      line-height: (28 / 16);
    }
  }

  ul {

    li {
      position: relative;
      padding-left: 32px;

      @include rtl {
        padding-left: 0;
        padding-right: 32px;
      }

      & + li {
        margin-top: 14px;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc((3rem - 14px) / 2);
        left: 0;
        width: 14px;
        height: 14px;
        background-color: $c-yellow-01;
        border-radius: 50%;

        @include rtl {
          left: auto;
          right: 0;
        }
      }
    }
  }

  ol {
    padding-top: 10px;
    counter-reset: list;

    li {
      position: relative;
      padding-left: 50px;
      counter-increment: list;

      @include rtl {
        padding-left: 0;
        padding-right: 50px;
      }

      & + li {
        margin-top: 30px;

        @include rwd('tablet') {
          margin-top: 20px;
        }
      }

      &:before {
        @include icomoon('hexagon');
        position: absolute;
        top: calc((3rem - 36px) / 2);
        left: 0;
        font-size: 36px;
        line-height: 1;
        color: $c-red-01;

        @include rtl {
          left: auto;
          right: 0;
        }
      }

      &:after {
        content: counter(list);
        position: absolute;
        top: 0;
        left: 0;
        width: 31px;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: (30 / 18);
        color: $c-white;
        text-align: center;

        @include rtl {
          left: auto;
          right: 0;
        }
      }
    }
  }

  a {
    font-weight: 500;
    color: $c-violet-01;
    transition: opacity $tr;

    &:hover {
      opacity: .5;
    }
  }
}