.section {

  & + & {
    margin-top: 50px;

    @include rwd('large-tablet') {
      margin-top: 10px;
    }
  }

  & + &--spaceLarge {
    margin-top: 100px;

    @include rwd('large-tablet') {
      margin-top: 10px;
    }
  }

  &__headline {
    padding: 8px 0;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: (60 / 48);
    color: $c-gray-02;

    @include rwd('large-tablet') {
      padding: 12px 0;
      font-size: 3rem;
      line-height: (40 / 30);
    }
  }
}