.boxesTabs {

  &__inner {
    padding: 5px 0 15px 0;
  }

  &__headline {
    max-width: 380px;
  }

  &__wrapper {
    margin-top: 90px;
    padding: 10px 0;

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }

  &__buttons {
    margin-left: 80px;

    @include rtl {
      margin-left: 0;
      margin-right: 80px;
    }

    @include rwd('large-tablet') {
      margin-left: 0;

      @include rtl {
        margin-right: 0;
      }
    }
  }

  &__buttonsInner {

    @include rwd('large-tablet') {
      margin-right: 0;

      @include rtl {
        margin-right: 18px;
        margin-left: 0;
      }
    }
  }

  &__items {
    max-width: 480px;
    margin: 70px 0 0 42px;

    @include rtl {
      margin-left: 0;
      margin-right: 42px;
    }

    @include rwd('large-tablet') {
      max-width: initial;
      margin: 30px 0 0 0;
      padding-top: 10px;

      @include rtl {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: none;
    
    &--active {
      display: block;
    }
  }

  &__itemTitle {
    padding: 2px 0;
    font-weight: 500;
    font-size: 3rem;
    line-height: (39 / 30);
    color: $c-gray-02;
  }

  &__itemContent {
    margin-top: 30px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (30 / 14);
    color: $c-gray-01;

    p + p {
      margin-top: 22px;
    }

    strong {
      font-weight: 500;
      color: $c-violet-01;
    }
  }

  &__itemButton {
    margin-top: 30px;
    padding: 10px 0;
  }
}