.contactSection {
  $root: &;

  &__inner {
    padding: 15px 0;
  }

  &__content {
    float: left !important;

    @include rtl {
      float: right !important;
    }

    #{$root}__wrapper--reverse & {
      float: right !important;

      @include rtl {
        float: left !important;
      }
    }
  }

  &__contentText {

    h1 {
      margin-bottom: 50px;
      padding: 2px 0;
      font-weight: 400;
      font-size: 8rem;
      line-height: (80 / 80);
      color: $c-violet-01;

      @include rwd('large-tablet') {
        margin-bottom: 20px;
        font-size: 5rem;
        line-height: (56 / 50);
      }

      @include rwd('tablet') {
        font-size: 4rem;
        line-height: (48 / 40);
      }
    }

    h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
      padding: 2px 0;
      font-weight: 500;
      font-size: 3rem;
      line-height: (39 / 30);
      color: $c-gray-02;
    }
    
    p {
      padding: 2px 0;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-gray-04;

      & + & {
        margin-top: 20px;
      }
    }
  }

  &__contentForm {
    margin-top: 30px;

    &:first-child {
      margin-top: -10px;
    }

    &--spacing {
      margin-top: 70px;

      @include rwd('large-tablet') {
        margin-top: 30px;
      }
    }
  }

  &__sidebar {
    float: right !important;

    @include rtl {
      float: left !important;
    }

    #{$root}__wrapper--reverse & {
      float: left !important;

      @include rtl {
        float: right !important;
      }
    }
  }

  &__sidebarContent {

    @include rwd('tablet') {
      padding-bottom: 40px;
    }
  }

  &__sidebarContentInner {
    max-width: 500px;

    @include rwd('tablet') {
      max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $c-violet-01;
    }
  }

  &__imageOuter {
    text-align: center;

    @include rwd('tablet') {
      display: none;
    }
  }

  &__imageInner {
    padding: 10px 0;
    max-width: 100%;
    height: auto;
  }
}