.contentColumns {

  &__inner {
    padding: 5px 0 15px 0;
  }

  &__columns {
    margin-top: -10px;
  }

  &__column {
    margin-top: 40px;

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }

  &__columnTitle {
    padding: 2px 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-violet-01;
  }

  &__columnContent {
    margin-top: 20px;

    @include rwd('large-tablet') {
      margin-top: 10px;
    }

    &--large {
      padding: 2px 0;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-gray-04;

      @include rwd('large-tablet') {
        font-size: 1.6rem;
        line-height: (28 / 16);
      }

      a {
        font-weight: 500;
        transition: opacity $tr;

        &:hover {
          opacity: .5;
        }
      }
    }

    a {

      &:before,
      &:after {
        padding: 5px 0;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: (22 / 14);
        color: $c-gray-01;
      }

      &:after {
        color: $c-gray-04;
      }
    }
  }
}