.contentBanner {
  $root: &;

  &__inner {
    padding: 15px 0;
    font-size: 0;
    overflow: hidden;
  }

  &__wrapper {
    
    &--bg {
      margin: 10px 0;
      padding: 60px 30px;
      background-color: $c-gray-05;

      @include rwd('large-tablet') {
        padding: 30px;
      }
    }
  }

  &__content {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    
    h1, h2, h3, h4, h5, h6 {

      #{$root}__wrapper--bg & {
        color: $c-red-01;
      }
    }
  }

  &__button {
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;

    @include rwd('large-tablet') {
      margin-top: 10px;
    }
  }
}