.contentButtons {

  &__content {
    padding: 15px 0;
  }

  &__contentInner {
    max-width: 500px;

    @include rwd('large-tablet') {
      max-width: 100%;
    }
  }

  &__sidebar {
    position: relative;
    margin: 100px 30px 25px 0;
    background-color: $c-gray-05;

    @include rwd('large-tablet') {
      margin-top: 90px;
    }

    @include rwd('large-phone') {
      margin-right: 0;
    }

    @include rtl {
      margin-right: 0;
      margin-left: 30px;

      @include rwd('large-phone') {
        margin-left: 0;
      }
    }
  }

  &__sidebarOuter {
    position: relative;

    @include rwd('large-phone') {
      padding: 0 30px 30px 30px;
    }
  }

  &__sidebarInner {
    padding: 25px 160px 20px 30px;

    @include rwd('large-phone') {
      padding-left: 0;
      padding-right: 0;
    }

    @include rtl {
      padding-right: 30px;
      padding-left: 160px;

      @include rwd('large-phone') {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__sidebarText {
    padding: 2px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $c-violet-01;
  }

  &__sidebarButtons {
    padding: 5px 0;
    margin: 15px -5px 0 -5px;
    overflow: hidden;
  }

  &__sidebarButton {
    float: left;
    padding: 5px;

    @include rtl {
      float: right;
    }
  }

  &__sidebarImage {
    position: absolute;
    top: -75px;
    right: -30px;
    max-width: 160px;
    height: auto;

    @include rwd('large-phone') {
      position: relative;
      top: auto;
      right: auto;
    }

    @include rtl {
      right: auto;
      left: -30px;

      @include rwd('large-phone') {
        position: absolute;
        left: auto;
      }
    }
  }
}