.errorAlert {
  margin-bottom: 100px;

  @include rwd('large-tablet') {
    margin-bottom: 60px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 120px 0 50px 0;
    min-height: 100vh;
    background-color: $c-red-01;
    overflow: hidden;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    margin-left: calc((7 / 12 * 100%) - #{($gridGutter / 2)});

    @include rwd('tablet') {
      margin-left: 0
    }

    @include rtl {
      margin-left: 0;
      margin-right: calc((7 / 12 * 100%) - #{($gridGutter / 2)});

      @include rwd('tablet') {
        margin-right: 0
      }
    }
  }

  &__number {
    position: absolute;
    top: 50%;
    right: calc(100% + 100px);
    transform: translateY(-50%);
    z-index: 1;

    @include rwd('laptop') {
      right: calc(100% + 60px);
    }

    @include rwd('tablet') {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
    }

    @include rtl {
      right: auto;
      left: calc(100% + 100px);

      @include rwd('laptop') {
        left: calc(100% + 60px);
      }

      @include rwd('tablet') {
        left: auto;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 106px;
      width: 100vw;
      height: 100vh;
      transform: translateY(-50%);
      background-color: $c-violet-01;
      z-index: -1;

      @include rwd('large-tablet') {
        right: 60px;
      }

      @include rwd('tablet') {
        display: none;
      }

      @include rtl {
        right: auto;
        left: 106px;

        @include rwd('large-tablet') {
          left: 60px;
        }
      }
    }
  }

  &__numberBack,
  &__numberFront {
    font-weight: 500;
    font-size: 280px;
    line-height: 1;

    @include rwd('laptop') {
      font-size: 240px;
    }

    @include rwd('large-tablet') {
      font-size: 180px;
    }

    @include rwd('tablet') {
      margin-bottom: 20px;
      padding: 10px 0;
      font-size: 140px;
      line-height: (125 / 140);
    }
  }

  &__numberBack {
    color: $c-violet-01;
  }

  &__numberFront {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 106px);
    color: $c-red-01;
    overflow: hidden;

    @include rwd('large-tablet') {
      width: calc(100% - 60px);
    }

    @include rwd('tablet') {
      display: none;
    }

    @include rtl {
      left: auto;
      right: 0;
    }
  }

  &__contentText {
    
    h1, h2, h3, h4, h5, h6,
    p {
      margin-top: 0;
      color: $c-white;
    }
  }

  &__contentButtom {
    margin-top: 30px;
    padding: 10px 0;
  }

  &__contentButtomInner {

    &:hover {
      color: $c-red-01 !important;
    }
  }
}