@keyframes pinFade {
  
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.heroHeader {
  $root: &;

  position: relative;
  height: 100vh;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: calc((100% - #{$gridWidth}) / 2);
    height: 153px;
    background-color: $c-violet-01;
    z-index: 200;

    @include rtl {
      left: auto;
      right: 0;
    }
  }

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include rwd('tablet') {
      display: flex;
      flex-direction: column;
      background-color: $c-violet-01;
    }
  }

  /* ---
    Background
  --- */

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-violet-01;
    pointer-events: none;

    @include rwd('tablet') {
      flex: 1;
      position: relative;
      height: initial;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc((100% - #{$gridWidth}) / 2 + 212px);
      height: 100%;
      background-color: $c-white;

      @include rtl {
        right: auto;
        left: 0;
      }
    }
  }

  &__bgOuter {
    position: relative;
    height: 100%;
    z-index: 10;
  }

  &__bgInner {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__bgImage {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 600px);
    margin-right: 27px;
    font-size: 0;
    line-height: 0;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      bottom: 60px;
      right: -27px;
      width: 71.014%;
      height: 86.073%;
      background-color: $c-red-01;
      z-index: -1;

      @include rwd('tablet') {
        height: calc(100% - 90px);
      }

      @include rtl {
        right: auto;
        left: -27px;
      }
    }

    @include rwd('laptop') {
      max-width: 50%; 
    }

    @include rwd('tablet') {
      max-width: 100%;
      margin-right: 0;

      @include rtl {
        margin-right: 0;
      }
    }

    @include rtl {
      margin-right: 0;
      margin-left: 27px;
    }
  }

  &__bgImageInner {
    max-width: 100%;
    max-height: calc(100vh - 100px);

    @include rwd('tablet') {
      max-height: 100%;
    }
  }

  &__pin {
    position: absolute;
    line-height: 0;

    @include rwd('large-tablet') {
      transform: none !important;
    }
  }

  &__pinInner {
    transform: translate(-50%, -50%);

    &:before {
      display: block;
      @include icomoon('hexagon');
      line-height: 1;

      #{$root}__pin--orange & {
        color: $c-orange-01;
      }

      #{$root}__pin--green & {
        color: $c-green-01;
      }

      #{$root}__pin--violet & {
        color: $c-violet-02;
      }

      #{$root}__pin--blue & {
        color: $c-blue-01;
      }

      #{$root}__pin--yellow & {
        color: $c-yellow-01;
      }
    }
  }

  &__pinIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &:before {
      line-height: 1;
      color: $c-white;
    }
  }

  /* ---
    Content
  --- */

  &__content {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    z-index: 10;

    @include rwd('tablet') {
      position: relative;
      top: auto;
      height: auto;
      padding-top: 70px;
    }
  }

  &__contentText {
    max-width: 600px;

    @include rwd('laptop') {
      width: calc(50% - 60px);
    }

    @include rwd('tablet') {
      width: 100%;
      padding: 18px 0;
    }
  }

  &__contentTitle {
    font-weight: 300;
    font-size: 8rem;
    line-height: (86 / 80);
    color: $c-white;

    @include rwd('laptop') {
      font-size: 6rem;
      line-height: (69 / 60);
    }

    @include rwd('large-tablet') {
      font-size: 4rem;
      line-height: (54 / 40);
    }

    @include rwd('tablet') {
      font-size: 3rem;
      line-height: (47 / 30);
    }
  }

  &__contentButton {
    margin: 54px 0 12px 0;

    @include rwd('tablet') {
      margin-top: 12px;
    }

    &:first-child {
      margin-top: 12px;
    }
  }
}