.iconsDrop {
  $root: &;

  &__inner {
    padding: 5px 0 15px 0;
  }

  &__headline {
    
    @include rwd('large-tablet') {
      margin-bottom: -10px;
    }
  }

  &__items {
    margin-top: 30px;

    @include rwd('large-tablet') {
      margin-top: -20px;
    }
  }

  &__item {
    align-items: center;
    margin-top: 50px;
  }

  &__itemInner {
    width: 100%;
  }

  &__itemHeader {
    position: relative;
    display: block;
    text-align: center;
    z-index: 10;
  }

  &__itemIcon {
    position: relative;
    display: inline-block;
    z-index: 1;

    &:before {
      font-size: 70px;
      line-height: 155px;
      color: $c-violet-01;
      transition: color $tr;
      transition-delay: $tr;

      @include rwd('large-tablet') {
        font-size: 40px;
        line-height: 100px;
      }

      #{$root}__item--active & {
        color: $c-white;
        transition-delay: initial;
      }
    }
    
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @include icomoon('hexagon');
      font-size: 155px;
      line-height: 1;
      color: rgba($c-violet-01, .05);
      z-index: -1;
      transition: color $tr;
      transition-delay: $tr;

      @include rwd('large-tablet') {
        font-size: 100px;
      }

      #{$root}__item--active & {
        color: $c-violet-07;
        transition-delay: initial;
      }
    }
    
  }

  &__itemTitle {
    margin-top: 30px;
    padding: 2px 0;
    font-weight: 500;
    font-size: 3rem;
    line-height: (39 / 30);
    color: $c-gray-02;
    transition: color $tr;
    transition-delay: $tr;

    #{$root}__item--active & {
      color: $c-white;
      transition-delay: initial;
    }
  }

  &__itemDrop {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -150px;
      left: 0;
      width: 100%;
      height: calc(100% + 190px);
      transform: scaleY(0);
      background-color: $c-violet-01;
      box-shadow: 0 10px 30px rgba($c-black, .15);
      z-index: -1;
      transition: transform $tr;
      transition-delay: $tr;

      @include rwd('large-tablet') {
        top: -130px;
        height: calc(100% + 170px);
      }

      #{$root}__item--active & {
        transform: scaleY(1);
        transition-delay: initial;
      }
    }
  }

  &__itemDropInner {
    position: relative;
    padding: 0 30px;
    height: 0;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      background-color: $c-violet-01;
      box-shadow: 0 10px 30px rgba($c-black, .15);
      z-index: -1;
    }
  }

  &__itemDropContent {
    padding: 42px 0 2px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-violet-08;

    @include rwd('large-tablet') {
      padding-top: 22px;
      font-size: 1.6rem;
      line-height: (28 / 16);
    }

    p + p {
      margin-top: 32px;

      @include rwd('large-tablet') {
        margin-top: 20px;
      }
    }

    strong {
      font-weight: 500;
      color: $c-white;
    }
  }

  &__itemDropButton {
    margin-top: 30px;
    padding: 10px 0 30px 0;
    text-align: center;

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }

  &__itemFooter {
    margin-top: 10px;
    text-align: center;
  }

  &__itemButton {
    display: inline-block;
    width: 56px;
    height: 56px;
    text-align: center;
    background-color: $c-white;
    border: 2px solid $c-red-01;
    border-radius: 50%;
    transition: background-color $tr, transform $tr;

    #{$root}__item--active & {
      transform: rotate(45deg);
    }

    &:before {
      @include icomoon('plus');
      font-size: 24px;
      line-height: 52px;
      color: $c-red-01;
      transition: color $tr;
    }

    &:hover {
      background-color: $c-red-01;

      &:before {
        color: $c-white;
      }
    }
  }
}