.iconsList {
  $root: &;

  &__inner {
    padding: 5px 0 15px 0;
  }

  &__items {
    margin-top: -40px;

    @include rwd('large-tablet') {
      margin-top: -20px;
    }

    &:first-child {
      margin-top: -60px;

      @include rwd('large-tablet') {
        margin-top: -40px;
      }
    }
  }

  &__item {
    margin-top: 70px;

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }

  &__itemOuter {
    width: 100%;
  }

  &__itemInner {
    position: relative;

    #{$root}__item--columns & {
      display: flex;

      @include rwd('tablet') {
        display: block;
        padding: 10px 0;
      }
    }
  }

  &__itemIcon {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 56px;
      line-height: 1;

      #{$root}__item--large & {
        font-size: 66px;
      }

      #{$root}__item--columns & {
        font-size: 66px;
      }

      #{$root}__item--large#{$root}__item--columns & {
        font-size: 70px;
      }

      #{$root}__item--colorBlue & {
        color: $c-blue-02;
      }

      #{$root}__item--colorGray & {
        color: $c-gray-01;
      }

      #{$root}__item--colorGreen & {
        color: $c-green-03;
      }

      #{$root}__item--colorOrange & {
        color: $c-orange-01;
      }

      #{$root}__item--colorRed & {
        color: $c-red-01;
      }

      #{$root}__item--colorViolet & {
        color: $c-violet-02;
      }

      #{$root}__item--colorVioletDark & {
        color: $c-violet-01;
      }

      #{$root}__item--colorYellow & {
        color: $c-yellow-01;
      }
    }

    &:after {
      @include icomoon('hexagon');
      font-size: 108px;
      line-height: 1;

      #{$root}__item--large & {
        font-size: 139px;
      }

      #{$root}__item--columns & {
        font-size: 139px;
      }

      #{$root}__item--large#{$root}__item--columns & {
        font-size: 155px;
      }

      #{$root}__item--colorBlue & {
        color: $c-blue-03;
      }

      #{$root}__item--colorGray & {
        color: $c-gray-09;
      }

      #{$root}__item--colorGreen & {
        color: $c-green-02;
      }

      #{$root}__item--colorOrange & {
        color: $c-orange-02;
      }

      #{$root}__item--colorRed & {
        color: $c-red-03;
      }

      #{$root}__item--colorViolet & {
        color: $c-violet-05;
      }

      #{$root}__item--colorVioletDark & {
        color: rgba($c-violet-01, .05);
      }

      #{$root}__item--colorYellow & {
        color: $c-yellow-03;
      }
    }
  }

  &__itemTitle,
  &__itemDesc,
  &__itemButton {
    margin-bottom: 20px;

    @include rwd('large-tablet') {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__itemContent {
    flex: 1;
    display: flex;
    margin-top: 10px;

    #{$root}__item--columns & {
      margin-top: 30px;
    }

    &--alignCenter {
      align-items: center;

      #{$root}__item--columns & {
        margin-top: 0;
      }
    }
  }

  &__itemContentInner {

    #{$root}__item--columns & {
      padding-left: 30px;

      @include rwd('tablet') {
        padding-left: 0;
      }

      @include rtl {
        padding-left: 0;
        padding-right: 30px;

        @include rwd('tablet') {
          padding-right: 0;
        }
      }
    }

    #{$root}__item--columns#{$root}__item--large & {
      padding-left: 50px;

      @include rwd('tablet') {
        padding-left: 0;
      }

      @include rtl {
        padding-left: 0;
        padding-right: 50px;

        @include rwd('tablet') {
          padding-right: 0;
        }
      }
    }
  }

  &__itemTitle {
    padding: 2px 0;

    &--nonLink {
      font-weight: 500;
      font-size: 18px;
      line-height: (30 / 18);
      color: $c-gray-02;
      
      #{$root}__item--large & {
        font-size: 3rem;
        line-height: (39 / 30);
      }
    }
    
    &--violet {
      color: $c-violet-01;
    }
  }

  &__itemTitleLink {

    &:before,
    &:after {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: (35 / 18);
    
      #{$root}__item--large & {
        font-size: 3rem;
        line-height: (39 / 30);
      }
    }

    &:after {
      color: $c-violet-01;
    
      #{$root}__itemTitle--violet & {
        color: $c-gray-02;
      }
    }
  }

  &__itemDesc {
    max-width: calc(100% - 50px);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (30 / 14);
    color: $c-gray-04;

    @include rwd('large-tablet') {
      max-width: 100%;
    }
    
    #{$root}__item--large & {
      padding: 2px 0;
      font-size: 1.8rem;
      line-height: (30 / 18);

      @include rwd('large-tablet') {
        font-size: 1.6rem;
        line-height: (28 / 16);
      }
    }

    #{$root}__item--columns & {
      max-width: calc(100% - 30px);

      @include rwd('large-tablet') {
        max-width: 100%;
      }
    }
  }

  &__itemButton {
    padding: 10px 0;
  }

  &__button {
    padding: 90px 0 10px 0;
    text-align: center;

    @include rwd('large-tablet') {
      padding-top: 30px;
    }
  }
}