.imageSection {

  &__inner {
    padding: 25px 0 71px 0;
  }

  &__wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -46px;
      right: -46px;
      width: 89.68%;
      height: 82.26%;
      background-color: $c-red-01;

      @include rtl {
        right: auto;
        left: -46px;
      }
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
}