.imageStats {

  &__inner {
    padding: 15px 0;
  }

  &__columns {
    flex-direction: row-reverse;

    @include rtl {
      flex-direction: row;
    }
  }

  &__column {
    align-items: center;
  }

  &__image {
    position: relative;
    margin: 10px 0;

    @include rwd('large-tablet') {
      margin: 30px auto 10px auto;
    }
  }

  &__imageInner {
    max-width: 100%;
    height: auto;
  }

  &__stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__stat {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__statValue {
    font-weight: 700;
    font-size: 15rem;
    line-height: (134 / 150);
    color: $c-white;
    direction: ltr;

    @include rwd('laptop') {
      font-size: 12rem;
      line-height: (110 / 120);
    }

    @include rwd('tablet') {
      font-size: 8rem;
      line-height: (80 / 80);
    }

    @include rwd('large-phone') {
      font-size: 6rem;
      line-height: (63 / 60);
    }
  }

  &__statTitle {
    font-weight: 700;
    font-size: 3rem;
    line-height: (40 / 30);
    color: $c-white;

    @include rwd('tablet') {
      font-size: 2rem;
      line-height: (33 / 20);
    }

    @include rwd('large-phone') {
      font-size: 1.6rem;
      line-height: (28 / 16);
    }
  }
}