.imageContent {
  $root: &;

  &__inner {
    padding: 15px 0;
  }

  &__headline {
    margin-top: -10px;
    margin-bottom: 30px;

    @include rwd('tablet') {
      margin-bottom: 10px;
    }
  }

  &__wrapper {

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__column {
    
    &--content {
      align-items: center;

      #{$root}__wrapper--contentTop & {
        align-items: flex-start;
      }

      #{$root}__wrapper--reverse & {
        float: right !important;

        @include rtl {
          float: left !important;
        }
      }
    }
  }

  /* ---
    Content
  --- */

  &__content {
    padding-right: 70px;

    @include rwd('tablet') {
      padding-right: 0;
    }

    @include rtl {
      padding-right: 0;
      padding-left: 70px;

      @include rwd('tablet') {
        padding-left: 0;
      }
    }

    #{$root}__wrapper--reverse & {
      padding-right: 0;
      padding-left: 70px;

      @include rwd('tablet') {
        padding-left: 0;
      }

      @include rtl {
        padding-left: 0;
        padding-right: 70px;

        @include rwd('tablet') {
          padding-right: 0;
        }
      }
    }

    #{$root}__wrapper--overlayTop & {
      padding-top: 36px;

      @include rwd('tablet') {
        padding-top: 0;
      }
    }

    #{$root}__wrapper--overlayBottom & {
      padding-bottom: 36px;

      @include rwd('tablet') {
        padding-bottom: 0;
      }
    }
  }

  &__button {
    margin-top: 35px;
    padding: 10px 0;

    @include rwd('large-tablet') {
      margin-top: 15px;
    }
  }

  /* ---
    Image
  --- */

  &__media {
    margin: 10px 0;
    font-size: 0;
    text-align: right;

    @include rwd('tablet') {
      margin-top: 30px;
      text-align: center;
    }

    #{$root}__wrapper--reverse & {
      text-align: left;

      @include rwd('tablet') {
        text-align: center;
      }
    }

    #{$root}__wrapper--overlayTop & {
      padding-top: 36px;
      padding-right: 48px;

      @include rtl {
        padding-right: 0;
        padding-left: 48px;
      }
    }

    #{$root}__wrapper--overlayTop#{$root}__wrapper--reverse & {
      padding-right: 0;
      padding-left: 48px;

      @include rtl {
        padding-left: 0;
        padding-right: 48px;
      }
    }

    #{$root}__wrapper--overlayBottom & {
      padding-bottom: 36px;
      padding-right: 48px;

      @include rtl {
        padding-right: 0;
        padding-left: 48px;
      }
    }

    #{$root}__wrapper--overlayBottom#{$root}__wrapper--reverse & {
      padding-left: 0;
      padding-right: 48px;

      @include rtl {
        padding-right: 0;
        padding-left: 48px;
      }
    }
  }

  &__mediaInner {
    position: relative;
    display: inline-block;
    box-shadow: 21px 31px 70px rgba($c-black, .1);
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 30px);
      height: calc(100% - 25px);
      z-index: -1;

      #{$root}__wrapper--overlayTop & {
        top: -36px;
        left: -48px;

        @include rtl {
          left: auto;
          right: -48px;
        }
      }

      #{$root}__wrapper--overlayBottom & {
        bottom: -36px;
        right: -48px;

        @include rtl {
          right: auto;
          left: -48px;
        }
      }
    }
    
    &--bgRed {
      
      &:before {
        background-color: $c-red-01;
      }
    }

    &--bgPurple {
      
      &:before {
        background-color: $c-violet-01;
      }
    }

    &--bgGray {
      
      &:before {
        background-color: $c-gray-05;
      }
    }
  }

  &__mediaImage {
    max-width: 100%;
    height: auto;
  }
}