.infoHeader {

  &__inner {
    padding: 25px 0;
    overflow: hidden;
  }

  /* ---
    Columns
  --- */

  &__columnsWrapper {
    overflow: hidden;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1px;
    padding: 24px 0;
    background-color: $c-gray-05;

    @include rwd('tablet') {
      display: block;
      padding: 14px 0;
    }
  }

  &__column {
    flex: 1;
    padding: 8px 30px;
    white-space: nowrap;
    border-left: 1px solid $c-gray-08;
    border-right: 1px solid $c-gray-08;

    @include browser('ie') {
      white-space: normal;
    }

    @include rwd('tablet') {
      padding: 18px 30px;
      white-space: normal;
    }

    &:nth-child(n+2) {
      margin-left: -1px;

      @include rwd('tablet') {
        border-top: 1px solid $c-gray-08;
      }

      @include rtl {
        margin-left: 0;
        margin-right: -1px;
      }
    }
  }

  &__columnName {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (28 / 14);
    color: $c-gray-01;
  }

  &__columnValue {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-violet-01;
  }

  &__columnValueLink {
    transition: opacity $tr;

    &:hover {
      opacity: .5;
    }
  }

  /* ---
    Content
  --- */

  &__content {
    position: relative;
    padding: 40px 0 50px 0;

    @include rwd('large-tablet') {
      padding: 30px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: $c-violet-01;

      @include rtl {
        left: auto;
        right: 0;
      }
    }
  }

  &__contentInner {
    position: relative;
    padding: 0 212px 0 106px;

    @include rwd('large-tablet') {
      padding: 0 30px;
    }
  }

  &__contentText {
    padding: 2px 0;
    
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      font-size: 2.6rem;
      line-height: (37 / 26);
      color: $c-white;
    }

    p {
      margin-top: 12px;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-white;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__contentValues {
    margin: 10px -20px 0 -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contentValue {
    margin-top: 30px;
    padding: 0 20px;
  }

  &__contentValueIcon {

    &:before {
      font-size: 50px;
      line-height: 1;
      color: $c-violet-02;
    }
  }

  &__contentValueTitle {
    margin-top: 8px;
    padding: 2px 0;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (28 / 14);
    color: $c-white;
  }
}