.instructionSection {
  $root: &;

  &__inner {
    padding: 15px 0;
  }

  &__headline {
    margin-bottom: 30px;
  }

  /* ---
    Item content
  --- */

  &__group {

    & + & {
      margin-top: 30px;
    }
  }

  &__groupTitle {
    position: relative;
    display: inline-block;
    padding: 2px 24px 2px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $c-violet-01;
    transition: color $tr;

    @include rtl {
      padding-right: 0;
      padding-left: 24px;
    }

    &:after {
      @include icomoon('arrow-thin-down');
      position: absolute;
      top: calc(50% - 3px);
      right: 0;
      font-size: 6px;
      line-height: 1;
      color: $c-violet-01;
      transition: transform $tr;

      @include rtl {
        right: auto;
        left: 0;
      }
    }

    &:hover {
      color: rgba($c-violet-01, .5);
    }

    &--active {

      &:after {
        transform: rotate(180deg);

        @include rtl {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__groupContent {
    display: none;
    overflow: hidden;

    &--active {
      display: block;
    }
  }

  &__groupItems {
    margin-top: 10px;
    padding: 2px 0;
  }

  &__groupItem {
    
    & + & {
      margin-top: 2px;
    }
  }

  &__groupItemLink {

    &:before,
    &:after {
      padding: 4px 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: $c-gray-01;
    }

    &:after {
      color: $c-gray-04;
    }

    &--active {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }

  &__groupFile {
    max-width: 266px;
    margin-top: 20px;
    padding: 10px 0;
  }

  /* ---
    Images
  --- */

  &__imagesGroup {
    display: none;

    &--active {
      display: block;

      @include rwd('large-tablet') {
        display: none;
      }
    }
  }

  &__images {
    padding: 10px 0;
  }

  &__image {
    display: none;

    &--mobile {
      display: none;
      padding: 20px;

      @include rwd('large-tablet', true) {
        display: none !important;
      }
    }
    
    &--active {
      display: flex;
      justify-content: flex-end;

      @include rtl {
        justify-content: flex-start;
      }
    }
  }

  &__imageOuter {
    width: 100%;
    max-width: 528px;
    border: 18px solid $c-white;
    box-shadow: 0 0 11px rgba($c-black, .2);
    border-radius: 13px;

    #{$root}__image--mobile & {
      margin: 0 auto;
    }
  }

  &__imageInner {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
  }

  /* ---
    Image
  --- */

  &__media {
    padding: 10px 0;
    text-align: right;

    @include rwd('large-tablet') {
      margin-top: 20px;
      text-align: center;
    }

    @include rtl {
      text-align: left;

      @include rwd('large-tablet') {
        text-align: center;
      }
    }

    &--hidden {
      display: none;

      @include rwd('large-tablet') {
        display: block;
      }
    }
  }

  &__mediaImage {
    max-width: 100%;
    height: auto;
  }
}