.jobsList {

  &__inner {
    padding: 5px 0;
  }

  &__headline {
    margin-bottom: 30px;
  }

  &__wrapper {
    margin-top: 30px;
  }

  &__wrapperOutput {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__items {
    margin-top: -40px;
    padding: 20px 0;
  }

  &__item {
    margin-top: 40px;
    font-size: 0;
  }

  &__itemLink {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 20px;

    @include rtl {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__itemInner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: calc(100% - 40px);
      background-color: $c-violet-01;
      z-index: -1;
    }
  }

  &__itemImage {
    position: relative;
    margin: 0 -20px 0 70px;
    z-index: 1;

    @include rtl {
      margin: 0 70px 0 -20px;
    }
  }

  &__itemImageInner {
    width: 100%;
    height: 0;
    padding-bottom: 74.193%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__itemContent {
    position: relative;
    flex: 1;
    padding: 7px 25px 55px 25px;
  }

  &__itemCategory {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (21 / 14);
    color: $c-red-01;
  }

  &__itemTitle {
    max-width: 180px;
    margin-top: 7px;
    font-weight: 500;
    color: $c-white;

    &:before,
    &:after {
      font-size: 1.8rem;
      line-height: (24 / 18);
    }

    &:after {
      color: $c-red-01;
    }
  }

  &__itemValues {
    margin-top: 24px;
  }

  &__itemValue {
    position: relative;
    padding-left: 20px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (21 / 14);
    color: rgba($c-white, .66);

    @include rtl {
      padding-left: 0;
      padding-right: 20px;
    }

    & + & {
      margin-top: 6px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 1;
      color: $c-violet-02;

      @include rtl {
        left: auto;
        right: 0;
      }
    }
  }

  &__itemButton {
    position: absolute;
    bottom: 20px;
    right: -20px;

    @include rtl {
      right: auto;
      left: -20px;
    }
    
    &:before {
      display: block;
      @include icomoon('hexagon');
      font-size: 54px;
      line-height: 1;
      color: $c-red-01;
      transition: transform $tr;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include icomoon('arrow-long-right');
      font-size: 12px;
      line-height: 1;
      color: $c-white;

      @include rtl {
        @include icomoon('arrow-long-left');
      }
    }

    &:hover {

      &:before {
        transform: rotate(60deg);

        @include rtl {
          transform: rotate(-60deg);
        }
      }
    }
  }
}