.linkBoxes {
  $root: &;

  &__inner {
    padding: 5px 0 25px 0;
  }

  &__items {
    margin-top: 8px;

    @include rwd('tablet') {
      margin-top: 0;
    }
  }

  &__item {
    margin-top: 32px;

    @include rwd('tablet') {
      margin-top: 20px;
    }
  }

  &__itemLink {
    position: relative;
    display: block;
    padding: 80px 190px 80px 70px;
    border: 1px solid $c-violet-01;
    z-index: 1;

    @include rwd('large-tablet') {
      padding: 50px 120px 50px 30px;
    }

    @include rwd('large-phone') {
      padding: 30px 30px 20px 30px;
    }

    @include rtl {
      padding-right: 70px;
      padding-left: 190px;

      @include rwd('large-tablet') {
        padding-right: 30px;
        padding-left: 120px;
      }

      @include rwd('large-phone') {
        padding-left: 30px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $c-violet-01;
      z-index: -1;
      transition: width $tr;

      @include rtl {
        left: auto;
        right: 0;
      }
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

  &__itemIcon {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);

    @include rwd('large-tablet') {
      right: 30px;
    }

    @include rwd('large-phone') {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
    }

    @include rtl {
      right: auto;
      left: 80px;

      @include rwd('large-tablet') {
        left: 30px;
      }

      @include rwd('large-phone') {
        left: auto;
      }
    }

    &:before {
      font-size: 80px;
      line-height: 1;
      color: $c-red-01;
      transition: color $tr;

      @include rwd('large-tablet') {
        font-size: 60px;
      }

      #{$root}__item:hover & {
        color: $c-white;
      }
    }
  }

  &__itemTitle {
    max-width: 180px;
    padding: 1px 0;
    font-weight: 500;
    font-size: 3rem;
    line-height: (42 / 30);
    color: $c-violet-01;
    transition: color $tr;

    @include rwd('large-phone') {
      margin-top: 20px;
      padding: 2px 0;
      font-size: 1.8rem;
      line-height: (30 / 18);
    }

    #{$root}__item:hover & {
      color: $c-white;
    }
  }
}