.mapTabs {

  &__inner {
    padding: 5px 0;
  }

  &__wrapper {
    margin-top: 30px;

    @include rwd('tablet') {
      margin-top: 10px;
    }
  }

  &__items {
    position: relative;
    margin-top: 40px;
  }

  &__item {
    display: none;
    
    &--active {
      display: block;
    }
  }

  &__itemContent {
    margin-top: 50px;

    @include rwd('large-tablet') {
      margin-top: 0;
    }
  }

  &__itemTitle {
    margin-top: 80px;
    padding: 2px 0;
    font-weight: 500;
    font-size: 3rem;
    line-height: (39 / 30);
    color: $c-violet-01;
    text-transform: uppercase;

    @include rwd('large-tablet') {
      margin-top: 30px;
    }
  }

  &__itemLocations {
    margin: 4px -16px 0 -16px;
    overflow: hidden;
  }

  &__itemLocation {
    float: left;
    width: 50%;
    margin-top: 12px;
    padding: 0 16px;
      
    p {
      transition: color $tr;

      a {
        font-weight: inherit;
        color: inherit;
      }
    }
    
    &--active {
      
      p {
        font-weight: 400;
        color: $c-violet-01;
      }
    }
  }

  &__itemMap {
    width: calc(100% + ((100vw - #{$gridWidth}) / 2));
    height: 600px;
    margin: 10px 0;
    background-color: $c-gray-01;

    @include rwd('laptop') {
      width: 100%;
    }

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }
}