.newsList {

  &__inner {
    padding: 5px 0 15px 0;
  }

  &__headline {
    max-width: 350px;
  }

  &__items {
    margin-top: 10px;

    @include rwd('large-tablet') {
      margin-top: -10px;
    }
  }

  &__item {
    margin-top: 30px;
    text-align: center;
  }

  &__itemInner {
    max-width: 392px;
    text-align: left;
  }

  &__button {
    padding: 40px 0 10px 0;
    text-align: center;
  }
}