.newsArchive {
  $root: &;

  &:first-child {
    margin-top: -20px;
  }

  &__inner {
    padding: 15px 0 5px 0;
  }

  &__column {

    &--side {
      float: right !important;

      @include rtl {
        float: left !important;
      }
    }
  }

  /* ---
    Items wrapper
  --- */

  &__wrapper {
    min-height: 300px;
    margin-top: 80px;

    @include rwd('large-tablet') {
      margin-top: 20px;
    }
  }

  &__wrapperOutput {
    padding: 10px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__items {
    margin-top: -80px;
    padding: 20px 0 10px 0;

    @include rwd('large-tablet') {
      margin-top: -40px;
    }
  }

  &__item {
    margin-top: 80px;

    @include rwd('large-tablet') {
      margin-top: 40px;
    }

    @include rwd('tablet') {
      text-align: center;
    }
  }

  &__itemInner {
    max-width: 400px;
    text-align: left;
  }

  /* ---
    Side
  --- */

  &__side {
    padding-bottom: 10px;

    @include rwd('large-tablet') {
      position: static !important;
      top: auto !important;
      left: auto !important;
      width: 100% !important;
      transform: none !important;
      margin-top: 20px;
    }
  }

  &__sideTitle {
    padding: 8px 0;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: (60 / 48);
    color: $c-gray-02;

    @include rwd('large-tablet') {
      padding: 12px 0;
      font-size: 3rem;
      line-height: (40 / 30);
    }
  }

  &__sideItem {
    margin-top: 50px;

    @include rwd('large-tablet') {
      margin-top: 40px;
    }

    @include rwd('tablet') {
      text-align: center;
      
      &:nth-child(n+3) {
        display: none;
      }
    }
  }

  &__sideItemInner {
    max-width: 400px;
    text-align: left;
  }
}