.numberSlider {

  &__inner {
    padding: 5px 0;
    overflow: hidden;
  }

  &__main {
    margin: 10px 0 0 42px;
    width: calc(100% + ((100vw - #{$gridWidth}) / 2) - 42px);

    @include rwd('laptop') {
      width: calc(100% - 22px);
    }

    @include rwd('large-tablet') {
      width: calc(100% + 20px);
      margin-left: 0
    }

    @include rwd('tablet') {
      margin-top: 0;
    }

    @include rtl {
      margin-left: 0;
      margin-right: 42px;

      @include rwd('large-tablet') {
        margin-right: 0
      }
    }

    &--marginTop {
      width: calc(100% + (100vw - #{$gridWidth}) / 2);
      margin-top: 30px;
      margin-left: 0;

      @include rwd('tablet') {
        margin-top: 0;
      }

      @include rtl {
        margin-right: 0;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: -8px;
    padding: 5px 0;

    @include rtl {
      justify-content: flex-end;
      direction: ltr;
    }
  }

  &__navNumber {
    min-width: 29px;
    font-size: 2.4rem;
    line-height: (30 / 20);
    letter-spacing: .75px;
    color: rgba($c-violet-01, .2);
    
    &--current {
      color: $c-violet-01;
    }
  }

  &__navLine {
    width: 75px;
    height: 4px;
    margin: 0 15px;
    background-color: rgba($c-violet-01, .1);
  }

  &__navLineInner {
    height: 100%;
    background-color: $c-violet-01;
    transition: width $tr;
  }

  &__item {
    width: 300px;
    max-width: calc(100vw - 40px);
    padding: 20px 0 10px 0;
  }

  &__itemLink {
    position: relative;
    display: block;
  }

  &__itemButton {
    position: absolute;
    top: -12px;
    right: -12px;

    @include rtl {
      right: auto;
      left: -12px;
    }
    
    &:before {
      display: block;
      @include icomoon('hexagon');
      font-size: 66px;
      line-height: 1;
      transition: transform $tr;
    }
    
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include icomoon('plus');
      font-size: 24px;
      line-height: 1;
      color: $c-white;
    }
    
    &--violet {
    
      &:before {
        color: $c-violet-02;
      }
    }

    &--orange {
    
      &:before {
        color: $c-orange-01;
      }
    }

    &--yellow {
    
      &:before {
        color: $c-yellow-01;
      }
    
      &:after {
        color: $c-violet-01;
      }
    }

    &--blue {
    
      &:before {
        color: $c-blue-02;
      }
    }

    &--green {
    
      &:before {
        color: $c-green-02;
      }
    }

    &--gray {
    
      &:before {
        color: $c-gray-01;
      }
    }

    &:hover {

      &:before {
        transform: rotate(60deg);

        @include rtl {
          transform: rotate(-60deg);
        }
      }
    }
  }

  &__itemImage {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__itemTitle {
    margin-top: 45px;
    font-size: 0;

    @include rwd('large-tablet') {
      margin-top: 10px;
    }
  }

  &__itemTitleLink {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: (34 / 18);
    color: $c-gray-04;

    &:before,
    &:after {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: (34 / 18);
      color: $c-gray-04;
    }

    &:after {
      color: $c-violet-01;
    }
  }
}