.pageHeader {
  $root: &;

  position: relative;
  z-index: 200;

  &__inner {
    padding-top: 70px;
    overflow: hidden;

    &--small {
      margin-bottom: -90px;

      @include rwd('large-tablet') {
        margin-bottom: -50px;
      }

      @include rwd('tablet') {
        margin-bottom: -20px;
      }
    }
  }

  &__content {
    position: relative;
    min-height: 540px;
    padding: 60px 60px 20px 0;
    z-index: 1;

    @include rwd('large-tablet') {
      min-height: 0;
    }

    &--small {
      min-height: 0;
    }

    @include rtl {
      padding-right: 0;
      padding-left: 60px;
    }

    @include rwd('large-tablet') {
      padding-top: 30px;
      padding-right: 40px;
      min-height: initial;

      @include rtl {
        padding-left: 40px;
      }
    }

    @include rwd('tablet') {
      padding-right: 90px;

      @include rtl {
        padding-left: 90px;
      }

      #{$root}__inner--bgNone & {
        padding-bottom: 0;
        padding-right: 0;

        @include rtl {
          padding-left: 0;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: -210px;
      width: 200vw;
      height: 200vh;
      z-index: -1;

      #{$root}__inner--small & {
        display: none;
      }

      @include rtl {
        right: auto;
        left: -210px;
      }

      @include rwd('tablet') {
        right: 60px;

        @include rtl {
          left: 60px;
        }
      }
    
      #{$root}__inner--bgViolet & {
        background-color: $c-violet-02;
      }

      #{$root}__inner--bgOrange & {
        background-color: $c-orange-01;
      }

      #{$root}__inner--bgYellow & {
        background-color: $c-yellow-01;
      }

      #{$root}__inner--bgBlue & {
        background-color: $c-blue-02;
      }

      #{$root}__inner--bgGreen & {
        background-color: $c-green-02;
      }

      #{$root}__inner--bgGray & {
        background-color: $c-gray-01;
      }

      #{$root}__inner--bgPurple & {
        background-color: $c-violet-01;
      }
    }
  }

  /* ---
    Breadcrumbs
  --- */

  &__breadcrumbsItems {
    padding: 5px 0;
    font-size: 1.1rem;
    line-height: (19 / 11);
  }

  &__breadcrumbsItem {
    display: inline;
    padding: 0 5px;
    font-weight: 700;
    color: $c-gray-04;
    text-transform: uppercase;
    letter-spacing: .33px;

    #{$root}__inner--bgPurple & {
      color: $c-white;
    }

    #{$root}__inner--bgNone & {
      color: $c-violet-01;
    }

    &:first-child {
      padding-left: 0;
    }

    &--arrow {
      padding: 0;

      &:before {
        @include icomoon('arrow-thin-right');
        font-size: .9rem;

        @include rtl {
          @include icomoon('arrow-thin-left');
        }
      }
    }
  }

  &__breadcrumbsItemLink {
    position: relative;
    display: inline;
    font-weight: 300;
    transition: opacity $tr;

    &:hover {
      opacity: .5;
    }
  }

  /* ---
    Content
  --- */

  &__contentTitle {
    max-width: 600px;
    margin-top: 20px;
    padding: 7px 0;
    font-weight: 400;
    font-size: 8rem;
    line-height: (86 / 80);
    color: $c-white;

    #{$root}__inner--bgNone &,
    #{$root}__inner--bgYellow & {
      color: $c-violet-01;
    }

    &--small {
      max-width: 100%;
      font-size: 7rem;
      line-height: (86 / 70);
    }

    @include rwd('large-tablet') {
      margin-top: 0;
      padding: 10px 0;
      font-size: 5rem;
      line-height: (58 / 50);
    }

    @include rwd('tablet') {
      font-size: 4rem;
      line-height: (46 / 40);
    }
  }

  &__contentDesc {
    max-width: 710px;
    margin-top: 30px;
    padding: 12px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-white;

    @include rwd('large-tablet') {
      margin-top: 0;
    }

    @include rwd('tablet') {
      font-size: 1.6rem;
      line-height: (28 / 16);
    }

    #{$root}__inner--bgNone &,
    #{$root}__inner--bgYellow & {
      color: $c-gray-04;
    }
  }

  &__contentButton {
    margin-top: 10px;
    padding: 20px 0;

    @include rwd('large-tablet') {
      margin-top: 0;
    }
  }

  &__contentButtonInner {

    &:hover {
    
      #{$root}__inner--bgViolet & {
        color: $c-violet-02;
      }

      #{$root}__inner--bgOrange & {
        color: $c-orange-01;
      }

      #{$root}__inner--bgBlue & {
        color: $c-blue-02;
      }

      #{$root}__inner--bgGreen & {
        color: $c-green-02;
      }

      #{$root}__inner--bgGray & {
        color: $c-gray-01;
      }

      #{$root}__inner--bgPurple & {
        color: $c-violet-01;
      }
    }
  }

  &__contentIcons {
    display: flex;
    flex-wrap: wrap;
    margin: 115px -15px 0 -15px;
    overflow: hidden;

    @include rwd('laptop') {
      margin-top: 40px;
    }

    @include rwd('large-tablet') {
      display: block;
      margin-top: 0;
    }
  }

  &__contentIcon {
    flex: 1;
    margin-top: 10px;
    padding: 0 15px;
  }

  &__contentIconInner {
    position: relative;
    padding: 15px 0 15px 54px;

    @include rtl {
      padding-left: 0;
      padding-right: 54px;
    }
  }

  &__contentIconIcon {
    position: absolute;
    top: 3px;
    left: 0;

    @include rtl {
      left: auto;
      right: 0;
    }

    &:before {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 34px;
      line-height: 1;
      color: $c-violet-01;
    }
    
    &:after {
      @include icomoon('hexagon');
      font-size: 42px;
      line-height: 1;
      color: $c-white;

      #{$root}__inner--bgNone & {
        color: $c-gray-05;
      }
    }
  }

  &__contentIconTitle {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (20 / 14);
    color: $c-white;
    letter-spacing: .14px;

    #{$root}__inner--bgYellow & {
      color: $c-violet-01;
    }

    #{$root}__inner--bgNone & {
      color: $c-gray-04;
    }
  }

  /* ---
    Image
  --- */

  &__media {
    position: relative;
    z-index: 1;

    @include rwd('tablet') {
      position: static;
    }
  }

  &__mediaInner {
    position: relative;
    padding-top: 145px;

    @include rwd('large-tablet') {
      padding-top: 90px;
    }

    @include rwd('tablet') {
      position: static;
      padding-top: 0;
    }

    &--high {
      padding-top: 50px;
      width: calc(100% + #{$gridGutter});
      margin-left: -$gridGutter;

      @include rtl {
        margin-left: 0;
        margin-right: -$gridGutter;
      }

      @include rwd('tablet') {
        padding-top: 0;
      }
    }

    &--square {
      padding-top: 130px;

      @include rwd('large-tablet') {
        padding-top: 90px;
      }

      @include rwd('tablet') {
        padding-top: 0;
      }
    }
  }

  &__mediaBox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 118.87%;

    &--bgGray {
      background-color: $c-gray-05;
    }

    &--bgPurple {
      background-color: $c-violet-01;
    }

    &--bgViolet {
      background-color: $c-violet-07;
    }

    &--bgRed {
      background-color: $c-red-01;
    }

    @include rwd('tablet') {
      position: static;
      padding-bottom: 0;
    }

    #{$root}__mediaInner--high & {
      padding-bottom: 159.74%;

      @include rwd('tablet') {
        padding-bottom: 0;
      }
    }

    #{$root}__mediaInner--square & {
      padding-bottom: 100%;

      @include rwd('tablet') {
        padding-bottom: 0;
      }
    }
  }

  &__mediaIcon {
    position: absolute;
    top: -17px;
    left: -68px;
    z-index: 10;

    @include rtl {
      left: auto;
      right: -68px;
    }

    @include rwd('large-tablet') {
      top: -15px;
      left: -45px;

      @include rtl {
        right: -45px;
      }
    }

    @include rwd('tablet') {
      top: 110px;
      left: auto;
      right: 20px;

      @include rtl {
        right: auto;
        left: 20px;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 76px;
      line-height: 1;
      color: $c-white;
      transform: translate(-50%, -50%);

      @include rwd('large-tablet') {
        font-size: 45px;
      }

      #{$root}__inner--bgYellow & {
        color: $c-violet-01;
      }
    }
    
    &:after {
      @include icomoon('hexagon');
      font-size: 156px;
      line-height: 1;

      @include rwd('large-tablet') {
        font-size: 90px;
      }
    
      #{$root}__inner--bgViolet & {
        color: $c-violet-06;
      }

      #{$root}__inner--bgOrange & {
        color: $c-orange-03;
      }

      #{$root}__inner--bgYellow & {
        color: $c-yellow-02;
      }

      #{$root}__inner--bgBlue & {
        color: $c-blue-04;
      }

      #{$root}__inner--bgGreen & {
        color: $c-green-04;
      }

      #{$root}__inner--bgGray & {
        color: $c-gray-11;
      }

      #{$root}__inner--bgPurple & {
        color: $c-violet-02;
      }

      #{$root}__inner--bgNone & {
        color: $c-violet-01;
      }
    }
  }

  &__mediaImage {
    position: absolute;
    max-width: calc(100% + 150px);

    @include rwd('laptop') {
      max-width: calc(100% + 90px);
    }

    @include rwd('large-tablet') {
      max-width: calc(100% + 60px);
    }

    @include rwd('tablet') {
      display: none;
    }

    #{$root}__mediaInner--alignTop & {
      top: 0;
    }

    #{$root}__mediaInner--alignBottom & {
      bottom: 0;
    }

    #{$root}__mediaInner--alignLeft & {
      left: 0;

      @include rtl {
        left: auto;
        right: 0;
      }
    }

    #{$root}__mediaInner--alignRight & {
      right: 0;

      @include rtl {
        right: auto;
        left: 0;
      }
    }
  }
}