.peopleList {
  $root: &;

  &__inner {
    overflow: hidden;
  }

  &__content {
    padding-top: 15px;
    padding-bottom: 65px;

    @include rwd('large-tablet') {
      padding-bottom: 25px;
    }
  }

  &__contentInner {

    p {
      max-width: 680px;
    }

    h1 + p {
      margin-top: 40px;
    }
  }

  &__wrapper {
    padding: 25px 0;
  }

  &__featured {
    position: relative;
    padding-bottom: 100px;

    @include rwd('large-phone') {
      padding-bottom: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 76px;
      bottom: 0;
      left: (1 / 12 * 100%);
      width: 100vw;
      background-color: $c-gray-05;
      z-index: -1;

      @include rwd('large-phone') {
        left: 0;
      }

      @include rtl {
        left: auto;
        right: (1 / 12 * 100%);

        @include rwd('large-phone') {
          right: 0;
        }
      }
    }
  }

  &__archive {
    position: relative;
    margin-top: -25px;
    padding-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: (1 / 12 * 100%);
      width: 100vw;
      height: 214px;
      max-height: 50%;
      background-color: $c-gray-05;
      z-index: -1;

      @include rwd('large-phone') {
        left: 0;
      }

      @include rtl {
        left: auto;
        right: (1 / 12 * 100%);

        @include rwd('large-phone') {
          right: 0;
        }
      }
    }
  }

  &__items {
    margin: -150px (-$gridGutter / 2) 0 (-$gridGutter / 2);

    @include rwd('large-tablet') {
      margin-top: -60px;
    }

    @include rwd('large-phone') {
      margin-top: -20px;
    }
  }

  &__item {
    float: right;
    width: 50%;
    margin-top: 40px;
    padding: 0 ($gridGutter / 2);

    @include rwd('large-phone') {
      width: 100%;
    }

    &:nth-child(1) {
      margin-top: 0;

      @include rwd('large-tablet') {
        margin-top: 40px;
      }
    }

    &:nth-child(2) {
      margin-top: 160px;

      @include rwd('large-tablet') {
        margin-top: 40px;
      }
    }
    
    &--hidden {
      display: none;
    }
  }

  &__more {
    overflow: hidden;
  }

  &__moreButton {
    margin-top: 90px;
    margin-bottom: 10px;

    @include rwd('large-tablet') {
      margin-top: 50px;
    }

    &--hidden {
      display: none;
    }
  }
}