.quoteSection {
  $root: &;

  &__wrapper {
    padding: 51px 0 25px 0;

    @include rwd('tablet') {
      padding-top: 43px;
    }
    
    &--side {
      padding-top: 101px;
    }
  }

  &__wrapperOuter {
    position: relative;
    padding: 0 106px;
    background-color: $c-gray-05;

    #{$root}__wrapper--side & {

      @include rwd('laptop') {
        padding: 0 60px;
      }

      @include rwd('tablet') {
        padding: 0 40px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 200vw;
        height: 100%;
        background-color: $c-gray-05;
        z-index: -1;

        @include rtl {
          left: auto;
          right: -100vw;
        }

        @include rwd('large-tablet') {
          display: none;
        }
      }
    }

    @include rwd('large-tablet') {
      padding: 0 60px;
    }

    @include rwd('tablet') {
      padding: 0 40px;
    }
  }

  &__wrapperInner {
    position: relative;
    padding: 120px 0;

    @include rwd('tablet') {
      padding: 75px 0 40px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: -52px;
      left: -23px;
      width: 104px;
      height: 104px;
      background-color: $c-white;
      border-radius: 50%;

      @include rtl {
        left: auto;
        right: -23px;
      }

      @include rwd('tablet') {
        top: -35px;
        width: 70px;
        height: 70px;
      }
    }

    &:after {
      position: absolute;
      top: -26px;
      left: 0;
      @include icomoon('quote');
      font-size: 87px;
      line-height: 1;
      color: $c-red-01;

      @include rtl {
        left: auto;
        right: 0;
      }

      @include rwd('tablet') {
        top: -18px;
        font-size: 60px;
      }
    }
  }

  &__wrapperContent {
    padding: 2px 0;
    font-weight: 500;
    font-size: 2rem;
    line-height: (30 / 20);
    color: $c-red-01;
    font-style: italic;
  }

  &__author {
    position: relative;
    padding: 25px 0;

    @include rwd('large-tablet') {
      padding-top: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 212px;
      width: 100vw;
      height: 100vh;
      background-color: $c-white;

      @include rtl {
        left: auto;
        right: 212px;
      }
    }
  }
}