.searchResults {
  $root: &;

  &__header {
    padding-top: 20px;
    padding-bottom: 50px;

    @include rwd('large-tablet') {
      margin-top: -20px;
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  &__headerInput {
    display: block;
    width: 100%;
    padding: 25px 70px;
    font-weight: 400;
    font-size: 4rem;
    line-height: (50 / 30);
    color: $c-gray-04;
    border-bottom: 1px solid $c-gray-12;

    @include placeholder {
      color: $c-gray-01;
      opacity: 1;
    }

    @include rwd('large-tablet') {
      padding: 15px 0;
    }
  }

  &__content {
    margin-bottom: -75px;
    padding: 30px 0 80px 0;
    background-color: $c-gray-05;

    @include rwd('large-tablet') {
      margin-bottom: -35px;
      padding-bottom: 40px;
    }
  }

  &__filters {
    padding: 10px 0;
  }

  &__filter {
    
    & + & {
      margin-top: 30px;
    }
  }

  &__filterTitle {
    padding: 2px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (27 / 14);
    color: $c-gray-04;
  }

  &__filterValues {
    margin-top: 15px;
    padding: 2px 0 10px 0;
  }

  &__filterValue {
    padding: 8px 0;
    border-bottom: 1px solid rgba($c-gray-01, .2);
  }

  &__filterInput {
    display: none;
  }

  &__filterLabel {
    position: relative;
    display: block;
    padding: 2px 0 2px 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (27 / 14);
    color: $c-gray-04;
    cursor: pointer;

    @include rtl {
      padding-left: 0;
      padding-right: 25px;
    }

    #{$root}__filterInput[type="radio"] + & {

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        width: 15px;
        height: 15px;
        background-color: $c-white;
        border: 2px solid $c-violet-01;
        border-radius: 50%;

        @include rtl {
          left: auto;
          right: 0;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $c-violet-01;
        border-radius: 50%;
        transform: scale(0);
        transition: transform $tr;

        @include rtl {
          left: auto;
          right: 3px;
        }
      }
    }

    #{$root}__filterInput[type="radio"]:checked + & {

      &:after {
        transform: scale(1);
      }
    }

    #{$root}__filterInput[type="checkbox"] + & {

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        width: 15px;
        height: 15px;
        background-color: $c-white;
        border: 2px solid $c-violet-01;
        border-radius: 3px;

        @include rtl {
          left: auto;
          right: 0;
        }
      }

      &:after {
        @include icomoon('checked');
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        width: 15px;
        height: 15px;
        font-size: 5px;
        line-height: 15px;
        color: $c-white;
        text-align: center;
        background-color: $c-violet-01;
        border-radius: 3px;
        transform: scale(0);
        transition: transform $tr;

        @include rtl {
          left: auto;
          right: 0;
        }
      }
    }

    #{$root}__filterInput[type="checkbox"]:checked + & {

      &:after {
        transform: scale(1);
      }
    }
  }

  &__wrapper {

    @include rwd('tablet') {
      margin-top: 20px;
    }
  }

  &__wrapperOutput {
    margin: 20px 0;
    padding: 10px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    
    & + & {
      margin-top: 40px;

      @include rwd('tablet') {
        margin-top: 20px;
      }
    }
  }

  &__itemInner {
    display: inline-block;
  }

  &__itemCategory {
    padding: 2px 0;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: (27 / 14);
    color: $c-violet-01;
  }

  &__itemTitle {
    margin-top: 4px;

    &:before,
    &:after {
      padding: 2px 0;
      font-weight: 500;
      font-size: 3rem;
      line-height: (39 / 30);
      color: $c-gray-02;
    }

    &:after {
      padding: 2px 0;
      font-weight: 500;
      font-size: 3rem;
      line-height: (39 / 30);
      color: $c-violet-01;
    }
  }

  &__itemDesc {
    max-height: calc(6rem + 4px);
    margin-top: 10px;
    padding: 2px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (30 / 18);
    color: $c-gray-04;
    overflow: hidden;
  }
}