.statsList {
  $root: &;

  &__inner {
    padding: 0 0 20px 0;
  }

  &__item {
    padding-top: 30px;
    cursor: pointer;
  }

  &__itemInner {
    position: relative;
    padding-top: 60px;

    @include rwd('small-tablet') {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__itemIcon {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: -1;
    
    &:before {
      display: block;
      @include icomoon('hexagon-border');
      font-size: 185px;
      line-height: 1;
      color: $c-yellow-01;
      transform: scale(0);

      @include rwd('large-tablet', true) {
        transition: transform $tr;

        #{$root}__items:hover & {
          transform: scale(1);
        }

        #{$root}__item:hover & {
          transform: scale(0);
        }
      }
    }
    
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      @include icomoon('hexagon');
      font-size: 185px;
      line-height: 1;
      color: $c-yellow-01;
      transform: scale(1);

      @include rwd('large-tablet', true) {
        transition: transform $tr;

        #{$root}__items:hover & {
          transform: scale(0);
        }

        #{$root}__item:hover & {
          transform: scale(1);
        }
      }
    }
  }

  &__itemValue {
    font-weight: 700;
    font-size: 3rem;
    line-height: (66 / 30);
    color: $c-violet-01;
    white-space: nowrap;
  }

  &__itemValueNumber {
    font-size: 6rem;
    line-height: (66 / 60);
    direction: ltr;
  }

  &__itemDesc {
    max-width: 300px;
    margin-top: 10px;
    padding: 5px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (20 / 14);
    color: $c-gray-04;

    @include rwd('large-tablet', true) {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity $tr, transform $tr;

      #{$root}__itemInner:hover & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}