.tabsStats {
  $root: &;

  &__inner {
    padding: 5px 0 25px 0;
  }

  &__headline {
    font-size: 4rem;
    line-height: (54 / 40);
    text-align: center;
  }

  /* ---
    Tabs
  --- */

  &__slider {
    display: none;
    margin: 0 30px;
    border-bottom: 1px solid $c-gray-03;

    @include rwd('large-tablet') {
      display: block;
    }
  }

  &__sliderProgress {
    bottom: -1px;
    height: 2px;
    background-color: $c-violet-01;
  }

  &__buttonsWrapper {
    margin-top: 60px;
    border-bottom: 1px solid $c-gray-03;

    @include rwd('large-tablet') {
      display: none;
    }
  }

  &__buttons {

    @include rwd('large-tablet', true) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__button {
    font-size: 0;
    text-align: center;

    @include rwd('large-tablet', true) {
      flex: 1;
    }
  }

  &__buttonLink {
    position: relative;
    display: inline-block;
    padding: 0 25px 15px 25px;

    @include rwd('large-tablet') {
      padding-top: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 3px;
      transform: translateX(-50%);
      background-color: $c-violet-01;
      transition: width $tr;
    }
    
    &--active {

      &:before {
        width: 100%;
      }
    }
  }

  &__buttonTextWrapper {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  &__buttonText {
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: (32 / 16);
    letter-spacing: 0.5px;
    color: $c-gray-01;
    transition: transform $tr;

    &:nth-child(2) {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      color: $c-violet-01;
    }

    #{$root}__buttonLink:hover &,
    #{$root}__buttonLink--active & {
      transform: translateY(100%);

      @include rwd('large-tablet') {
        transform: translateY(0);
      }
    }

    strong {
      margin-right: 6px;
      font-weight: 400;
      color: $c-red-01;
    }

    &:nth-child(2) {

      strong {
        color: $c-violet-01;
      }
    }
  }

  /* ---
    Main
  --- */

  &__wrapper {
    position: relative;
    margin: 50px 0 -75px 0;
    padding-bottom: 85px;
    background-color: $c-white;
    box-shadow: 0 20px 50px rgba($c-violet-04, .1);
    z-index: 10;

    @include rwd('large-tablet') {
      margin-top: 30px;
      padding-bottom: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      width: 100vw;
      height: 20px;
      transform: translateX(-50%);
      background-color: $c-white;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: calc(100% - 75px);
      transform: translateX(-50%);
      background: linear-gradient(180deg, rgba($c-white, 1) 50%, rgba($c-white, 0) 100%);
      z-index: -1;
    }
  }

  &__wrapperInner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gridGutter);

    @include rwd('large-tablet') {
      margin: 0;
    }

    @include rwd('tablet') {
      display: block;
    }
  }

  /* ---
    Boxes
  --- */

  &__boxesWrapper {
    max-width: 100%;
    width: 506px;

    @include rwd('large-tablet') {
      width: 400px;
    }

    @include rwd('tablet') {
      width: 500px;
      margin: 0 auto;
    }
  }

  &__boxes {
    padding-top: 30px;

    @include rwd('tablet') {
      margin-right: 0;

      @include rtl {
        margin-right: -18px;
        margin-left: 0;
      }
    }
  }

  /* ---
    Items
  --- */

  &__items {
    flex: 1;
    margin-top: 30px;
    padding-left: 94px;

    @include rwd('laptop') {
      padding-left: 48px;
    }

    @include rwd('tablet') {
      margin-top: 20px;
      padding: 0 30px;
    }

    @include rtl {
      padding-left: 0;
      padding-right: 94px;

      @include rwd('laptop') {
        padding-right: 48px;
      }

      @include rwd('tablet') {
        padding: 0 30px;
      }
    }
  }

  &__item {
    display: none;
    padding: 11px 0;
    
    &--active {
      display: block;
    }
  }

  &__itemContent {
    
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      font-size: 3rem;
      line-height: (42 / 30);
      color: $c-gray-02;

      & + p {
        margin-top: 20px;

        @include rwd('large-tablet') {
          margin-top: 10px;
        }
      }
    }
    
    p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: (30 / 14);
      color: $c-gray-04;

      @include rwd('large-tablet') {
        margin-top: 10px;
      }
    }
  }

  &__itemButton {
    margin-top: 24px;
    padding: 9px 0;

    @include rwd('large-tablet') {
      margin-top: 14px;
    }
  }

  /* ---
    Footer
  --- */

  &__footer {
    position: relative;
    padding: 130px 0 75px 0;
    z-index: 1;

    @include rwd('large-tablet') {
      padding: 30px 0 20px 0;
    }

    @include rwd('tablet') {
      text-align: center;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: $c-violet-01;
      z-index: -1;

      @include rtl {
        left: auto;
        right: 0;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;

    @include rwd('large-tablet') {
      margin: 0 10px;
    }

    @include rwd('tablet') {
      display: inline-block;
    }
  }

  &__stat {
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;

    @include rwd('large-tablet') {
      flex: 1;
    }

    @include rtl {
      text-align: right;
    }
  }

  &__statInner {
    padding: 2px 0 2px 40px;

    @include rtl {
      padding-left: 0;
      padding-right: 40px;
    }
  }

  &__statTitle {
    position: relative;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: (28 / 15);
    color: $c-white;

    &:before {
      position: absolute;
      top: 0;
      left: -40px;
      font-size: 2.5rem;
      line-height: 2.8rem;

      @include rtl {
        left: auto;
        right: -40px;
      }
    }
  }

  &__statNumbers {
    margin-top: 2px;
  }

  &__statNumber {
    display: none;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: (44 / 36);
    letter-spacing: 1.8px;
    color: $c-white;
    direction: ltr;
    
    &--active {
      display: block;
    }
  }

  &__statToggle {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    font-weight: 500;

    @include rtl {
      padding-right: 0;
      padding-left: 16px;
    }
      
    &:before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include icomoon('arrow-small-down');
      font-size: .4rem;
      line-height: 1;
      color: $c-white;
      transition: transform $tr;

      @include rtl {
        right: auto;
        left: 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: calc(100% - 16px);
      height: 1px;
      background-color: $c-white;

      @include rtl {
        left: auto;
        right: 0;
      }
    }

    &:hover {

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  &__statOptions {
    position: absolute;
    top: 100%;
    left: -10px;
    min-width: 160px;
    padding: 0 10px;
    border-top: 10px solid transparent;
    box-shadow: 0 5px 10px rgba($c-black, .08);
    background-color: $c-white;
    background-clip: padding-box;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: transform $tr, opacity $tr, visibility $tr;
    z-index: 100;

    @include rtl {
      left: auto;
      right: -10px;
    }

    #{$root}__statToggle:hover & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__statOption {
    
    & + & {
      border-top: 1px solid $c-gray-05;
    }
  }

  &__statOptionLink {
    display: block;
    margin: 0 -10px;

    &:before,
    &:after {
      padding: 0 10px;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: (36 / 15);
      color: $c-gray-01;
    }

    &:after {
      font-weight: 500;
      color: $c-gray-04;
    }

    &--active {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }
}