.tabsContent {
  $root: &;

  &:last-child {
    margin-bottom: -50px;

    @include rwd('large-tablet') {
      margin-bottom: 0;
    }
  }

  &__inner {
    padding: 25px 0;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
  }

  /* ---
    Nav
  --- */

  &__nav {
    position: relative;
    margin-top: 72px;
    z-index: 20;

    @include rwd('large-tablet') {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: ($gridGutter / 2);
      width: ((5 / 12) * (12 / 2 * 100%));
      height: 100%;
      background-color: $c-violet-01;
      z-index: -1;

      @include rtl {
        left: auto;
        right: ($gridGutter / 2);
      }
    }
  }

  &__navButtonsWrapper {

    @include rwd('large-tablet') {
      display: none;
    }
  }

  &__navButtons {
    width: calc(100% + #{$gridGutter});
    padding: 35px 0 40px 0;
    font-size: 0;

    @include rwd('large-tablet') {
      padding: 15px 0;
    }
  }

  &__navButton {
    
    & + & {
      margin-top: 5px;

      @include rwd('large-tablet') {
        margin-top: 0;
      }
    }
  }

  &__navButtonLink {
    position: relative;
    display: block;
    padding: 35px 0 25px 0;
    text-align: center;

    @include rwd('large-tablet') {
      padding: 25px 0 15px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -5px;
      width: 10px;
      height: 0;
      background-color: $c-red-01;
      transform: translateY(-50%);
      transition: height $tr;

      @include rwd('large-tablet') {
        top: 100%;
        width: 0;
        height: 10px;
        left: 0;
        transform: translateY(-50%);
        transition: width $tr;
      }

      @include rtl {
        left: auto;
        right: -5px;

        @include rwd('large-tablet') {
          right: 0;
        }
      }
    }
    
    &--active {

      &:before {
        height: 100%;

        @include rwd('large-tablet') {
          height: 10px;
          width: 100%;
        }
      }
    }
  }

  &__navButtonImages {
    position: relative;
    display: inline-block;
    font-size: 0;
  }

  &__navButtonImage {
    width: auto;
    height: 60px;

    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity $tr;

      #{$root}__navButtonLink:hover &,
      #{$root}__navButtonLink--active & {
        opacity: 1;
      }
    }
  }

  &__navButtonTitle {
    max-width: 150px;
    margin: 7px auto 0 auto;
    padding: 8px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: .7px;
    text-transform: uppercase;
    color: rgba($c-white, .5);
    transition: color $tr;

    #{$root}__navButtonLink:hover &,
    #{$root}__navButtonLink--active & {

      @include rwd('large-tablet', true) {
        color: $c-white;
      }
    }
  }

  &__slider {
    display: none;
    margin: 0 20px;

    @include rwd('large-tablet') {
      display: block;
    }
  }

  &__sliderProgress {
    height: 5px;
    background-color: $c-red-01;
  }

  /* ---
    Images
  --- */

  &__imagesWrapper {
    position: relative;
    margin-top: 122px;
    z-index: 30;

    @include rwd('large-tablet') {
      margin-top: 40px;
    }
  }

  &__imagesInner {
    max-width: 500px;
    margin: 0 auto;

    @include rwd('large-tablet') {
      max-width: 400px;
    }
  }

  &__images {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 127.71%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100px);
    opacity: 0;
    transition: transform $tr-l, opacity $tr-l;
    
    &--active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* ---
    Content
  --- */

  &__content {
    position: relative;
    float: right !important;
    z-index: 10;

    @include rtl {
      float: left !important;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: ($gridGutter / 2);
      width: ((7 / 12) * (12 / 5 * 100%));
      height: 100%;
      background-color: $c-gray-05;
      z-index: -1;

      @include rwd('large-tablet') {
        top: -60px;
        right: 0;
        width: calc(100% + 60px);
      }

      @include rwd('large-tablet') {
        right: -20px;
      }

      @include rtl {
        right: auto;
        left: ($gridGutter / 2);

        @include rwd('large-tablet') {
          left: 0;
        }

        @include rwd('large-tablet') {
          left: -20px;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: $c-gray-05;
      z-index: -1;

      @include rwd('large-tablet') {
        left: -60px;
      }

      @include rwd('tablet') {
        left: 50%;
        width: 200vw;
        transform: translateX(-50%);
      }

      @include rtl {
        left: auto;
        right: 0;

        @include rwd('large-tablet') {
          right: -60px;
        }

        @include rwd('tablet') {
          right: 50%;
          width: 200vw;
          transform: translateX(50%);
        }
      }
    }
  }

  &__items {
    padding: 167px 0 180px 76px;

    @include rwd('laptop') {
      padding-bottom: 90px;
      padding-left: 30px;
    }

    @include rwd('large-tablet') {
      padding-top: 60px;
      padding-bottom: 30px;
    }

    @include rwd('tablet') {
      padding: 10px 0;
    }

    @include rtl {
      padding-left: 0;
      padding-right: 76px;

      @include rwd('laptop') {
        padding-right: 30px;
      }

      @include rwd('tablet') {
        padding: 0;
      }
    }
  }

  &__item {
    display: none;
    
    &--active {
      display: block;
    }
  }

  &__itemInner {
    padding: 8px 0;
  }

  &__itemContent {
    padding: 8px 0;

    h1, h2, h3, h4, h5, h6 {  
      font-weight: 500;
      font-size: 4.8rem;
      line-height: (60 / 48);
      color: $c-gray-02;

      @include rwd('large-tablet') {
        padding: 4px 0;
        font-size: 3rem;
        line-height: (40 / 30);
      }
    }

    p {
      margin-top: 20px;
      padding: 4px 0;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: (30 / 18);
      color: $c-gray-04;

      @include rwd('large-tablet') {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: (28 / 16);
      }
    }
  }

  &__itemDescButton {
    margin-top: 30px;
    padding: 20px 0;

    @include rwd('large-tablet') {
      margin-top: 0;
    }
  }
}