.videoSection {

  &__inner {
    padding: 55px 0 25px 0;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -30px;
      left: 33.709%;
      width: 100vw;
      height: 53%;
      background-color: $c-violet-01;

      @include rtl {
        left: auto;
        right: 33.709%;
      }
    }
  }
}