/* ---
  Styles:
    • button--border
    • button--fill
  Colors:
    • button--red
    • button--white
    • button--violet
--- */

.button {
  $root: &;

  position: relative;
  display: inline-block;
  height: 56px;
  padding: 0 46px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 56px;
  text-align: center;
  overflow: hidden;
  transform: translateZ(0);
  transition: color $tr;
  z-index: 1;

  @include rwd('large-tablet') {
    height: 40px;
    padding: 0 25px;
    font-size: 1.4rem;
    line-height: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width $tr;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
  }

  &--border {

    &:before {
      left: 0;
      width: 0;

      @include rtl {
        left: auto;
        right: 0;
      }
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

  &--fill {

    &:before {
      right: 0;
      width: 100%;

      @include rtl {
        right: auto;
        left: 0;
      }
    }

    &:hover {

      &:before {
        width: 0;
      }
    }
  }

  /* ---
    Styles
  --- */

  &--red {

    &#{$root}--border {
      color: $c-red-01;

      &:hover {
        color: $c-white;
      }

      &:before {
        background-color: $c-red-01;
      }

      &:after {
        border-color: $c-red-01;
      }
    }

    &#{$root}--fill {
      color: $c-white;

      &:hover {
        color: $c-red-01;
      }

      &:before {
        background-color: $c-red-01;
      }

      &:after {
        border-color: $c-red-01;
      }
    }
  }

  &--white {

    &#{$root}--border {
      color: $c-white;

      &:hover {
        color: $c-violet-01;
      }

      &:before {
        background-color: $c-white;
      }

      &:after {
        border-color: $c-white;
      }
    }

    &#{$root}--fill {
      color: $c-violet-01;

      &:hover {
        color: $c-white;
      }

      &:before {
        background-color: $c-white;
      }

      &:after {
        border-color: $c-white;
      }
    }
  }

  &--violet {

    &#{$root}--border {
      color: $c-violet-01;

      &:hover {
        color: $c-white;
      }

      &:before {
        background-color: $c-violet-01;
      }

      &:after {
        border-color: $c-violet-01;
      }
    }

    &#{$root}--fill {
      color: $c-white;

      &:hover {
        color: $c-violet-01;
      }

      &:before {
        background-color: $c-violet-01;
      }

      &:after {
        border-color: $c-violet-01;
      }
    }
  }
}