$loaderSize:   100px;
$loaderSmall:  56px;
$loaderBorder: 4px;
$loaderColor:  $c-violet-01;
$loaderTime:   1s;

@keyframes cssLoaderAnimation {

  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.cssLoader {
  display: block;
  position: relative;
  width: $loaderSize;
  height: $loaderSize;
  transform: translateZ(0);

  &--small {
    width: $loaderSmall;
    height: $loaderSmall;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: $loaderBorder solid $loaderColor;
    opacity: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:before,
  &:after {
    animation: cssLoaderAnimation $loaderTime cubic-bezier(0, .5, .8, 1) infinite;
  }

  &:after {
    animation-delay: (-$loaderTime / 2);
  }
}