[data-select] {

  select {
    display: none;
  }
}

[data-select-container] {
  position: relative;
}

[data-select-button] {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 9px 40px 9px 15px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: (28 / 14);
  color: $c-gray-01;
  text-align: left;
  border: 2px solid $c-gray-05;
  background-color: $c-gray-05;
  cursor: pointer;

  @include placeholder {
    color: $c-gray-01;
    opacity: 1;
  }

  &:not([data-select-button-value=""]) {
    font-weight: 500;
    color: $c-gray-04;
  }

  &:not([data-select-button-value]) {
    font-weight: 300;
    color: $c-gray-01;
  }

  &:after {
    position: absolute;
    top: calc(50% - 3px);
    right: 15px;
    @include icomoon('arrow-small-down');
    font-size: 6px;
    line-height: 1;
    color: $c-violet-04;
    transition: transform $tr;

    @include rtl {
      right: auto;
      left: 15px;
    }
  }

  @include rtl {
    padding-right: 15px;
    padding-left: 40px;
    text-align: right;
  }
}

[data-select-container-open] [data-select-button] {

  &:after {
    transform: rotate(180deg);

    @include rtl {
      transform: rotate(-180deg);
    }
  }
}

[data-select-options] {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $c-white;
  box-shadow: 0 5px 10px rgba($c-black, .08);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  @at-root [data-select-container-open] & {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: transform $tr, opacity $tr, visibility $tr;
  }
}

[data-select-option] {
  display: block !important;
  color: $c-gray-01;
  cursor: pointer;

  &:before,
  &:after {
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: (31 / 14);
  }

  &:after {
    font-weight: 500;
    color: $c-gray-04;
  }

  &[data-select-option-active] {
    font-weight: 500;
    color: $c-white;
    background-color: $c-violet-01;

    &:before,
    &:after {
      transform: translateY(-100%) !important;
    }
  }

  & + & {
    border-top: 1px solid $c-gray-05;
  }

  &[data-select-option-disabled] {
    display: none !important;

    & + [data-select-option] {
      border-top: 0;
    }
  }
}