[data-scroll-bar] {

  @media (pointer: coarse) {
    display: none;
  }
}

[data-scroll] {
  overflow: hidden;
  overflow-x: hidden !important;

  [data-scroll-bar] {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba($c-black, .1);
    z-index: 10000;
    overflow: hidden;

    @include rtl {
      right: auto;
      left: 0;
    }

    [data-scroll-bar-button] {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 50px;
      max-height: 100%;
      background-color: rgba($c-black, .35);
      border-radius: 0 0 5px 5px;
      transition: background-color $tr;

      &:hover {
        background-color: $c-red-01;
      }
    }
  }
}