[data-text] {
  position: relative;
  display: inline-block;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    content: attr(data-text);
    transform: translateY(-100%);
    transition: transform $tr;
  }

  &:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &:hover {

    &:before,
    &:after {
      transform: translateY(0);
    }
  }
}