.footer {
  $root: &;

  position: relative;
  background-color: $c-white;
  z-index: 100;

  &__inner {
    overflow: hidden;

    #{$root}--lineGray & {

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: $c-gray-05;
        z-index: -1;
      }
    }
  }

  &__main {
    position: relative;
    width: (11 / 12 * 100%);
    padding: 44px 0 60px 0;
    z-index: 1;

    @include rwd('large-tablet') {
      width: 100%;
    }

    @include rwd('tablet') {
      padding: 30px 0 38px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      background-color: $c-violet-01;
      z-index: -1;

      @include rwd('large-tablet') {
        right: 50%;
        transform: translateX(50%);
      }

      @include rtl {
        right: auto;
        left: 0;

        @include rwd('large-tablet') {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__mainRow {
    width: (12 / 11 * 100%);

    @include rwd('large-tablet') {
      width: 100%;
    }

    & + & {
      margin-top: 60px;

      @include rwd('tablet') {
        margin-top: 30px;
      }
    }
  }

  /* ---
    Menu
  --- */

  &__menu {
    border-bottom: 1px solid rgba($c-white, .1);
    overflow: hidden;

    @include rwd('tablet') {
      padding-bottom: 15px;
    }
  }

  &__menuItems {
    margin: 0 -25px;
    overflow: hidden;
  }

  &__menuItem {
    float: left;
    font-size: 0;

    @include rwd('tablet') {
      width: 33.333%;
    }

    @include rwd('large-phone') {
      width: 50%;
    }

    @include rtl {
      float: right;
    }
  }

  &__menuItemLink {
    position: relative;
    display: block;
    padding-bottom: 25px;

    @include rwd('tablet') {
      padding: 5px 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 0;
      height: 2px;
      background-color: $c-yellow-01;
      transition: width $tr;

      @include rwd('tablet') {
        display: none;
      }

      @include rtl {
        left: auto;
        right: 10px;
      }
    }

    &:hover,
    &--active {

      &:before {
        width: calc(100% - 20px);
      }
    }
  }

  &__menuItemText {

    &:before,
    &:after {
      padding: 0 25px;
      font-size: 1.4rem;
      line-height: (31 / 14);
      color: $c-white;
    }

    &:after {
      color: $c-yellow-01;
    }

    #{$root}__menuItemLink:hover &,
    #{$root}__menuItemLink--active & {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }

  /* ---
    Newsletter
  --- */

  &__newsletter {
    padding: 20px 30px 30px 30px;
    background-color: $c-violet-03;
    border-radius: 7px;
  }

  &__newsletterTitle {
    padding: 2px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: (33 / 20);
    color: $c-white;
  }

  &__newsletterForm {
    margin-top: 10px;
  }

  &__newsletterRow {
    position: relative;
  }

  &__newsletterInput {
    display: block;
    width: 100%;
    padding: 15px 45px 15px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: (34 / 18);
    color: rgba($c-white, .5);
    border-bottom: 1px solid rgba($c-white, .1);

    @include rtl {
      padding-right: 0;
      padding-left: 45px;
    }

    @include placeholder {
      color: rgba($c-white, .5);
      opacity: 1;
    }
  }

  &__newsletterSubmit {
    position: absolute;
    top: 1px;
    right: -10px;
    font-size: 0;
    padding: 10px;

    @include rtl {
      right: auto;
      left: -10px;
    }
    
    &:before {
      display: block;
      @include icomoon('hexagon');
      font-size: 40px;
      line-height: 1;
      color: $c-violet-02;
      transition: color $tr, transform $tr;
    }
    
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include icomoon('plus');
      font-size: 12px;
      line-height: 1;
      color: $c-white;
      transition: color $tr;
    }

    &:hover {

      &:before {
        color: $c-white;
        transform: rotate(60deg);

        @include rtl {
          transform: rotate(-60deg);
        }
      }

      &:after {
        color: $c-violet-02;
      }
    }
  }

  &__newsletterError,
  &__newsletterMessage {
    margin: 5px 0 -5px 0;
    padding: 3px 0;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: (16 / 11);
  }

  &__newsletterError {
    color: $c-red-01;
  }

  &__newsletterMessage {

    &--error {
      color: $c-red-01;
    }

    &--success {
      color: $c-white;
    }
  }

  /* ---
    Info
  --- */

  &__info {
    margin-top: 25px;
    padding: 1px 0;

    @include rwd('tablet') {
      margin-top: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: (30 / 20);
      color: rgba($c-white, .3);
      text-transform: uppercase;
    }

    p {
      font-size: 1.8rem;
      line-height: (32 / 20);
      color: rgba($c-white, .5);

      a {
        position: relative;
        display: inline-block;
        color: $c-white;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: rgba($c-white, .5);
          transition: width $tr;

          @include rtl {
            left: auto;
            right: 0;
          }
        }

        &:hover {

          &:before {
            width: 100%;
          }
        }
      }
    }
    
    h1, h2, h3, h4, h5, h6,
    p {
      margin-top: 4px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /* ---
    Bottom
  --- */

  &__bottom {
    margin-top: 40px;
    padding: 20px 0 40px 0;
    border-top: 1px solid $c-gray-03;
    overflow: hidden;

    @include rwd('tablet') {
      margin-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__text {
    float: left;
    margin: 0 -22px;
    padding: 8px 0;

    @include rwd('tablet') {
      float: none;
      text-align: center;
    }

    @include rtl {
      float: right;

      @include rwd('tablet') {
        float: none;
      }
    }
    
    p {
      display: inline-block;
      padding: 0 22px;
      font-size: 1.1rem;
      line-height: (20 / 11);
      color: $c-gray-06;

      a {
        position: relative;
        display: inline-block;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: $c-gray-06;
          transition: width $tr;

          @include rtl {
            left: auto;
            right: 0;
          }
        }

        &:hover {

          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  /* ---
    Socials
  --- */

  &__socials {
    float: right;
    margin: 0 -5px;
    font-size: 0;
    overflow: hidden;

    @include rwd('tablet') {
      float: none;
      margin-top: 10px;
      text-align: center;
    }

    @include rtl {
      float: left;

      @include rwd('tablet') {
        float: none;
      }
    }
  }

  &__social {
    display: inline-block;
    padding: 0 5px;
  }

  &__socialLink {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid $c-gray-08;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;

    &:before {
      font-size: 1.6rem;
      line-height: 34px;
      color: $c-gray-07;
      transition: color $tr;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $c-violet-01;
      transition: transform $tr;
      z-index: -1;

      @include rtl {
        left: 100%;
      }
    }

    &:hover {

      &:before {
        color: $c-white;
      }

      &:after {
        transform: translateX(100%);

        @include rtl {
          transform: translateX(-100%);
        }
      }
    }
  }
}