.header {
  $root: &;

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $c-white;
    border-bottom: 1px solid $c-gray-05;
    z-index: 1000;
  }

  &__wrapper {
    width: 100%;
    max-width: ($gridWidth + 80px + (2 * $gridGutter));
    margin: 0 auto;
    padding: 14px $gridGutter;
    @include clear;

    @include rwd('laptop') {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  /* ---
    Logo
  --- */

  &__logo {
    float: left;
    font-size: 0;

    @include rwd('large-phone') {
      padding: 6px 0;
    }

    @include rtl {
      float: right;
    }
  }

  &__logoLink {
    display: inline-block;
  }

  &__logoImage {
    width: auto;
    height: 42px;

    @include rwd('large-phone') {
      height: 30px;
    }
  }

  /* ---
    Menu
  --- */

  &__menu {
    float: left;
    padding: 5px 0 5px 60px;

    @include rwd('laptop') {
      padding-left: 30px;
    }

    @include rwd('large-tablet') {
      display: none;
    }

    @include rtl {
      float: right;
      padding-left: 0;
      padding-right: 60px;

      @include rwd('laptop') {
        padding-right: 30px;
      }
    }
  }

  /* ---
    Buttons
  --- */

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    overflow: hidden;

    @include rtl {
      right: auto;
      left: 0;
      padding-right: 0;
      padding-left: 10px;
    }

    @media (pointer: coarse) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__button {
    float: left;
    border-left: 1px solid $c-gray-05;

    @include rtl {
      float: right;
      border-left: 0;
      border-right: 1px solid $c-gray-05;
    }
  }

  &__buttonLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $c-violet-01;
      transition: width $tr;
      z-index: -1;

      @include rtl {
        left: auto;
        right: 0;
      }
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

  &__buttonText {
    display: inline-block;
    font-size: 1.4rem;
    line-height: (32 / 14);
    color: $c-gray-01;
    letter-spacing: 0.44px;
    transition: color $tr;

    #{$root}__buttonLink:hover & {
      color: $c-white;
    }

    &--lang {
      font-family: $f-second;
    }
  }

  &__buttonIcon {
    
    &:before {
      font-size: 2.2rem;
      line-height: (32 / 22);
      color: $c-violet-01;
      transition: color $tr;

      #{$root}__buttonLink:hover & {
        color: $c-white;
      }
    }
  }

  /* ---
    Search
  --- */

  &__search {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding: 65px 0 50px 0;
    background-color: $c-white;
    box-shadow: 0 5px 10px rgba($c-black, .08);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: transform $tr, opacity $tr, visibility $tr;

    @include rwd('large-tablet') {
      padding: 30px 0;
    }

    &--active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__searchForm {
    position: relative;
    padding: 26px 0;
    border-bottom: 1px solid $c-gray-01;
  }

  &__searchInput {
    display: block;
    width: 100%;
    padding-left: 70px;
    font-size: 4rem;
    line-height: (50 / 40);
    color: $c-gray-04;

    @include rtl {
      padding-left: 0;
      padding-right: 70px;
    }

    @include placeholder {
      color: $c-gray-01;
    }
  }

  &__searchButton {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include rtl {
      left: auto;
      right: 0;
    }

    &:before {
      @include icomoon('loupe');
      font-size: 4.1rem;
      line-height: (50 / 41);
      color: $c-gray-01;
    }
  }

  /* ---
    Mobile
  --- */

  &__menuToggle {
    float: left;
    margin-left: 30px;

    @include rtl {
      float: right;
      margin-left: 0;
      margin-right: 30px;
    }
  }
}