.menuToggle {
  $root: &;

  display: none;
  float: left;
  width: 40px;
  height: 42px;
  padding: 0;

  @include rwd('large-tablet') {
    display: block;
  }

  &__line {
    display: block;
    height: 4px;
    margin: 6px 0;
    background-color: $c-red-01;
    transition: transform $tr;

    &:nth-child(1) {

      #{$root}--active & {
        transform: translateY(10px) rotate(135deg);
      }
    }

    &:nth-child(2) {

      #{$root}--active & {
        transform: scale(0);
      }
    }

    &:nth-child(3) {

      #{$root}--active & {
        transform: translateY(-10px) rotate(-135deg);
      }
    }
  }
}