.menu {
  $root: &;

  &__items {
    margin: 0 -25px;
    @include clear;

    @include rwd('laptop') {
      margin: 0 -15px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: -19px;
    float: left;
    font-size: 0;

    @include rtl {
      float: right;
    }
    
    &--hasChildren {
      
      &:after {
        float: right;
        margin: 0 25px 0 -10px;
        @include icomoon('arrow-small-down');
        font-size: .4rem;
        line-height: 32px;
        color: $c-violet-04;
        transition: transform $tr;

        @include rwd('laptop') {
          margin: 0 15px 0 -5px;
        }

        @include rtl {
          float: left;
          margin: 0 -10px 0 25px;

          @include rwd('laptop') {
            margin: 0 -5px 0 15px;
          }
        }
      }
    }

    &:hover {

      &:after {
        transform: rotate(180deg);

        @include rtl {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__itemLink,
  &__submenuItemLink {

    &:before,
    &:after {
      padding: 0 25px;
      font-size: 1.4rem;
      line-height: (32 / 14);
      color: $c-gray-01;
      letter-spacing: .44px;
      white-space: nowrap;
    }

    &:after {
      color: $c-violet-01;
    }

    &--active {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }

  &__itemLink {

    &:before,
    &:after {
      padding-bottom: 19px;
      font-weight: 500;

      @include rwd('laptop') {
        padding: 0 15px;
      }
    }

    #{$root}__item:hover & {

      &:before,
      &:after {
        transform: translateY(0);
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: -10px;
    min-width: 200px;
    padding: 0 10px;
    background-color: $c-white;
    box-shadow: 0 5px 10px rgba($c-black, .08);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: transform $tr, opacity $tr, visibility $tr;
    z-index: 100;

    @include rtl {
      left: auto;
      right: -10px;
    }

    #{$root}__item:hover & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__submenuItem {
    
    & + & {
      border-top: 1px solid $c-gray-05;
    }
  }

  &__submenuItemLink {
    display: block;
    margin: 0 -10px;

    &:before,
    &:after {
      display: block;
      padding: 10px 35px;
    }

    &:after {
      font-weight: 500;
      color: $c-gray-04;
    }
  }
}