.menuMobile {
  display: none;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $c-white;
  overflow-y: auto;

  &--active {
    display: block;

    @include rwd('large-tablet', true) {
      display: none;
    }
  }

  &--active {
    display: block;

    @include rwd('large-tablet', true) {
      display: none;
    }
  }

  &__items {
    display: none;
    border-bottom: 1px solid $c-gray-05;

    &--active {
      display: block;
    }
  }

  &__item {

    & + & {
      border-top: 1px solid $c-gray-05;
    }
  }

  &__itemLink {
    position: relative;
    display: block;
    padding: 9px 25px;
    font-size: 1.4rem;
    line-height: (32 / 14);
    color: $c-gray-01;
    letter-spacing: .44px;

    &--hasSubmenu {
      padding-right: 37px;

      @include rtl {
        padding-right: 25px;
        padding-left: 37px;
      }

      &:before {
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
        @include icomoon('arrow-small-down');
        font-size: 4px;
        line-height: 1;
        color: $c-gray-03;

        @include rtl {
          right: auto;
          left: 35px;
        }
      }
    }

    &--backMenu {
      padding-left: 50px;
      color: $c-white;
      background-color: $c-violet-01;

      @include rtl {
        padding-left: 25px;
        padding-right: 50px;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        @include icomoon('arrow-small-left');
        font-size: 10px;
        line-height: 1;
        color: $c-white;

        @include rtl {
          left: auto;
          right: 20px;
          @include icomoon('arrow-small-right');
        }
      }
    }
  }
}